<template>
    <div class="login m-grid m-grid--hor m-grid--root m-page">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-3.jpg);">
				<div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
					<div class="m-login__container">
						<div class="m-login__logo">
							<a href="#">
								<img src="">
							</a>
						</div>
						
						
                            <router-view/>
                    
							
					</div>
				</div>
			</div>
	</div>
</template>

<script>
    
    export default {
        name: 'login',
    }
</script>

<style  scoped>

    .login {
        height: 100%;

    }

</style>