<template>
    <div class="">
        <div class="m-login__head">
            <h3 class="m-login__title">
                Registrarse
            </h3>
            <div class="m-login__desc">
                Ingrese sus datos para crear su cuenta:
            </div>
        </div>
        <form @submit.prevent="onCreateUser()" class="m-login__form m-form" action="">
            <div class="form-group m-form__group">
                <input class="form-control m-input" v-model='userName' type="text" placeholder="Nombre de Usuario" name="userName" >
            </div>
            <div class="form-group m-form__group">
                <input class="form-control m-input" v-model='email' type="text" placeholder="Email" name="email" autocomplete="off">
            </div>
            <div class="form-group m-form__group">
                <input class="form-control m-input" v-model='pass1' type="password" placeholder="Contraseña" name="password">
            </div>
            <div class="form-group m-form__group">
                <input class="form-control m-input m-login__form-input--last" v-model='pass2' type="password" placeholder="Confirmar Contraseña" name="rpassword">
            </div>
    
            <div class="m-login__form-action">
                <button :disabled="!disablePass" type="submit" id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
                    Regístrate
                </button>
            </div>
        </form>
    </div>
</template>

<script>

    import {mapActions,mapState} from 'vuex';

    export default {

        data(){
            return{
                userName:'',
                email:'',
                pass1:'',
                pass2:'',
            }
        },
        methods:{
            urllogin(){
                this.$router.push({name:'signin'})
            },
            
            ...mapActions(['createUser']),

            onCreateUser(){
               const dataUser ={
                   userName: this.userName,
                   email: this.email,
                   pass1:this.pass1,
               }
               this.createUser(dataUser)
            },
        },
        computed:{
            disablePass(){
                return this.pass1 === this.pass2 && this.pass1 != ''
            }
        }
    }
</script>

<style scoped>

</style>