<template>


    <div class="m-login__signin">
            <div class="m-login__head">
                <h3 class="m-login__title">
                    Iniciar Sesión 
                </h3>
            </div>
             <div class="m-section__content">
											
               <div v-if="status == 'adios'" class="alert alert-info" role="alert">
                    <strong>
                        Adios!
                    </strong>
                    {{message}} 
                </div>
                
                <div v-if="status == 'error'" class="alert alert-danger" role="alert">
                    <strong>
                        Ups!
                    </strong>
                     {{message}} 
                </div>
                            
                            
            </div>
            <form @submit.prevent="login()" class="m-login__form m-form" action="">
                <div class="form-group m-form__group" :class="{'has-danger': $v.email.$error}">
                    <input v-model="$v.email.$model"  class="form-control m-input"   type="email" placeholder="Email" name="email" autocomplete="off">
                    <div v-if="!$v.email.email" class="form-control-feedback">El email tiene que ser correcto</div>
                    <div v-if="$v.email.$error" class="form-control-feedback">El email tiene es Obligatorio</div> 
                </div>
                <div class="form-group m-form__group" :class="{'has-danger': $v.password.$error}">
                    <input v-model="$v.password.$model" class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password">
                    <div v-if="$v.password.$error" class="form-control-feedback">La Contraseña es Obligatoria</div> 
                </div>

                
                <!-- <div class="row m-login__form-sub">
                    <div class="col m--align-left m-login__form-left">
                        <label class="m-checkbox  m-checkbox--focus">
                            <input type="checkbox" name="remember">
                            Recuerdame
                            <span></span>
                        </label>
                    </div>
                    <div class="col m--align-right m-login__form-right">
                        <a @click="urlRecover()" id="m_login_forget_password" class="m-link">
                           Recuperar contraseña
                        </a>
                    </div>
                </div> -->
                <div class="m-login__form-action">
                    <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                        Iniciar
                    </button>
                    
                </div>
            </form>
            

	</div>
</template>

<script>
    import {mapActions,mapState} from 'vuex';
    import { required, email ,minLength} from 'vuelidate/lib/validators'

    export default {
        data(){
            return{
                email:'',
                password:'',

            }
        },

        validations:{
            
            email:{
                required,
                email
            },
            password:{
                required,
            },
            
        },
       

        methods:{
               
                urlRecover(){  
                    this.$router.push({name:'recover'}) 
                },

                login(){
                    this.$v.$touch()
                    if (!this.$v.$invalid) {
                        const dataUser = {
                            email:    this.$v.email.$model.toLowerCase(),
                            password: this.$v.password.$model,
                            
                        }
                        //this.LOGIN_USER(dataUser)
                    } 
                 },

                

                ...mapActions('user',['LOGIN_USER'])
        },

        computed:{
            ...mapState('user',['status','message','token','idBusiness'])
          
        },

        
    }
</script>

<style  scoped>

</style>