<template>
    <div>
      
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <i class="la flaticon-list-2"></i>
                                Listado de Ordenes
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="centerLoadingTable col-md-12">
                     <div v-if="loadingTable" class="m-loader m-loader--lg m-loader--success" style="width: 60px; display: inline-block;"></div> 
                </div>
                <div class="m-portlet__body table-responsive">
                	
                   
                           
                            <table class="display nowrap " id="table_list_orders">
                                
                                <thead>
                                    <tr>
                                        
                                        <th>
                                            Nombre
                                            
                                        </th>
                                        <th>
                                            Email
                                            
                                        </th>
                                        <th>
                                            ¿Cuándo?
                                            
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>
                                            Medio
                                        </th>
                                        <th>
                                            Teléfono
                                        </th>
                                        <th>
                                            Dirección
                                        </th>
                                        <th>
                                            Acción
                                        </th>
                                         
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr v-for='order in orders' :key="order._id">
                                        
                                        <td>
                                            {{order.userapp.name}}
                                        </td>
                                        <td>
                                            {{order.userapp.email}}
                                        </td>
                                        <td>
                                            hace {{ getDifferenceTime(order.date) | duration('humanize') }}
                                        </td>
                    
                                        <td>
                                            <span v-if="order.status == 'wait'" style="width: 110px;"><span class="m-badge  m-badge--danger m-badge--wide">Espera</span></span>
                                            <span v-if="order.status == 'goingToLook'" style="width: 110px;"><span class="m-badge  m-badge--info m-badge--wide">Yendo a buscar</span></span>
                                            <span v-if="order.status == 'goingToDeliver'" style="width: 110px;"><span class="m-badge  m-badge--warning m-badge--wide">Yendo a entregar</span></span>
                                            <span v-if="order.status == 'delivered'" style="width: 110px;"><span class="m-badge  m-badge--success m-badge--wide">Entregado</span></span>
                                        </td>
                                        <td>{{paymentType(order.payment_type)}}</td>
                                        <td>
                                            {{order.userapp.phone}}
                                        </td>
                                        <td>
                                            {{order.address}}
                                        </td>                                               
                                        <td>
                                            
                                            
                                            <div class="action">

                                                <a
                                                    
                                                    @click="showModalInfoOrder(order)"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill btnUpdateUser"
                                                    title="Ver">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a
                                                    
                                                    @click="delivered(order)"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill btnUpdateUser"
                                                    title="Estado">
                                                    <i class="fa fa-truck"></i>
                                                </a>  

                                            </div>
                                            	
                                            <!-- <div class="action">
                                                <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
                                                    <label>
                                                        <input v-model="order.delivered" @click="delivered(order)" type="checkbox" name="">
                                                        <span></span>
                                                    </label>
                                                </span>

                                            </div> -->
                                            
                                        </td>
                                    </tr> 
                                    
                                </tbody>
                            
                            </table>
                            <!--end: Datatable -->
                        </div>
                    </div>
                </div>


                	<div class="modal fade" id="modalInfoOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">
											Orden 
										</h5>
                                       <h5 v-if="this.msgOrderDelivered"><strong class="msgdelivered">Entregada!!</strong></h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
										</button>
									</div>
                                    <div class="container" >
                                       
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label><strong>Nombre:</strong><span class="spaceBetweenLetters">{{userApp.name}}</span></label>
                                            </div>
                                        </div>    
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label><strong>Telefono: </strong><span class="spaceBetweenLetters">{{userApp.phone}}</span></label>
                                            </div>
                                        </div>
                                        <div class="row">    
                                            <div class="col-md-12">
                                                <label><strong>Email: </strong><span class="spaceBetweenLetters">{{userApp.email}}</span></label>
                                            </div>
                                        </div>
                                        <div class="row">    
                                            <div class="col-md-12">
                                                <label><strong>Dirección:</strong><span class="spaceBetweenLetters">{{userApp.address}}</span></label>
                                            </div>
                                        </div>    
                                        <div class="row">    
                                            <div class="col-md-6">
                                                <label><strong>Fecha:</strong><span class="spaceBetweenLetters">{{userApp.date | moment("dddd,Do MMMM YYYY")}}</span></label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                <div class="col-md-6">
                                                    <p v-if="onCopyPaste"><span class="m--font-info float-right">¡Orden copiada!</span></p>&nbsp;
                                                    <p v-else>&nbsp;</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <a href="#" 
                                                        @click="copyOrder()"
                                                        v-clipboard:copy="listOrderForCopy"
                                                        v-clipboard:success="onCopy"
                                                        v-clipboard:error="onError" 
                                                        class="btn btn-success btn-sm m-btn  m-btn m-btn--icon float-right"
                                                    >
                                                        <span>
                                                            <i class="la la-clipboard"></i>
                                                            <span>Copiar orden</span>
                                                        </span>
                                                    </a>                                                    
                                                </div>
                                                </div>

                                            </div>
                                        </div> 
                                    </div>
<!-- inicio de modal body-->	    <div class="modal-body"> 
                                        
                                            <div class="container">
                                                <div class="row">
                                                    <pre></pre>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="titleTableOrder" style="text-align: center;">
                                                                    <h4>Cantidad</h4>
                                                                </th>
                                                                <th class="titleTableOrder" style="text-align: center;">
                                                                    <h4>Producto</h4>
                                                                </th>
                                                                <th class="titleTableOrder" style="text-align: center;">
                                                                    <h4>Precio U.</h4>
                                                                </th>
                                                                <th class="titleTableOrder" style="text-align: center;">
                                                                    <h4>Costo</h4>
                                                                </th>                                                                
                                                                <th class="titleTableOrder" style="text-align: center;">
                                                                    <h4>Total</h4>
                                                                </th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="product in this.listProduct" :key="product.name">
                                                                <td style="text-align: center;">{{product.quantity}}</td>
                                                                <td><a href="#"> {{product.name}} </a></td>
                                                                <td class=" text-right ">{{product.price}}</td>
                                                                <td class=" text-right ">{{product.costPrice.toFixed(2)}}</td>
                                                                <td class=" text-right ">{{product.subtotal}}</td>
                                                                
                                                            </tr>
                                                           
                    
                                                            <tr >
                                                                <td colspan="3" style="text-align: right;">Totales $.</td>
                                                                <td style="text-align: right;"><a href="#" > <strong>{{costTotal.toFixed(2)}}</strong>  </a></td>
                                                                <td style="text-align: right;"><a href="#" > <strong>{{total.toFixed(2)}}</strong>  </a></td>
                                                                
                                                                
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                            
                                                </div>
                                            </div>
<!-- final de modal body-->
									</div>
									<div class="modal-footer">
										<button type="button" @click="cancelModalInfoOrder()" class="btn btn-secondary" data-dismiss="modal">
											Cerrar
										</button>
									</div>
							</div>
					</div>
				</div>


                <div class="modal" id="modaldelivered" tabindex="-1" role="dialog"  aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                       
                        <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removeProduct">
                                        <i class="flaticon-warning-2"></i> Estado de la orden
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <center>
                                        <p>
                                            ¿Estás seguro de cambiar el estado de la orden?
                                        </p>
                                    </center>
                                    <center>
                                        <div class="m-radio-inline">
                                            <label class="m-radio m-radio--state-danger">
                                                <input v-model="statusOrder"  type="radio" name="status" value="wait">
                                                Espera
                                                <span></span>
                                            </label>
                                            <label class="m-radio m-radio--state-info">
                                                <input v-model="statusOrder" type="radio" name="status" value="goingToLook">
                                                Yendo a Buscar
                                                <span></span>
                                            </label>
                                            <label class="m-radio m-radio--state-warning">
                                                <input v-model="statusOrder" type="radio" name="status" value="goingToDeliver">
                                                Yendo a Entregar
                                                <span></span>
                                            </label>
                                            <label class="m-radio m-radio--state-success">
                                                <input v-model="statusOrder" type="radio" name="status" value="delivered">
                                                Entregado
                                                <span></span>
                                            </label>
                                        </div>
                                    </center>
                                    <br>
                                    <center v-if="goingToLookOrDelivery">
                                        <label class="col-form-label">Tiempo estimado:</label>
                                        <div style="width: 90px">
                                            <input type="number" v-model="estimatedTime" class="form-control m-input" placeholder="40">
                                        </div>
                                    </center>
                                    <br>
                                <div class="modal-footer">
                                    <button type="button" @click="cancelModalDelivered" class="btn btn-secondary" data-dismiss="modal">
                                        <i class="la la-close"></i>
                                        No
                                    </button>
                                    <button type="button" @click="setDelivered" :class="{'m-loader m-loader--light m-loader--left': loading}" class="btn btn-primary">
                                        <i class="fa fa-thumbs-o-up"></i> 
                                        Si
                                    </button>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>




    </div>
</template>

<script>
    import { mapActions, mapState, mapGetters} from 'vuex';
    
    export default {
        
        

        name:'listOrder',
        data: () => ({
            userApp:{
                name:'',
                email:'',
                date:'', 
                phone:'',
                address:''  
            },

            
            products:'',
            listProduct:[],
            listOrderForCopy:'',
            onCopyPaste: false,
            subtotal:'',
            total:0,
            costTotal:0,
            statusOrder:'',
            idOrder:'',
            changeDelivered:'',
            loading:false,
            deliveryStatus:'delivered',
            msgOrderDelivered:'',
            loadingTable:false,

            priorityOrde:0,
            estimatedTime: 40

            

          
        }),
        methods:{
               
                ...mapActions('order',['LIST_ORDERS','UPDATE_DELIVERED','AUTH_USER_LOGGED','REAL_TIME_ORDERS']),
                
                paymentType(paymentType){
                    if(paymentType != 'undefined' && paymentType != '' && paymentType == 2){
                        return 'Mercado Pago';
                    } else {
                        return 'Efectivo';
                    }
                },

                getDifferenceTime(date){
                    var now = moment(new Date());
                    return moment.utc(now.diff(date)).valueOf()
                },
                copyOrder(){
                    this.onCopyPaste = true
                },
                onCopy() {
                    this.onCopyPaste = true
                },
                onError: function (e) {
                    this.onCopyPaste = false
                    alert('Hubo un error al copiar la orden.')
                },                

                getListOrders(){
                    this.LIST_ORDERS().then(res=>{
                         
                         $("#table_list_orders").DataTable({
                            //retrieve: true,
                            ordering: false,
                            // order: [[ 5, 'desc' ]],
                            language: {
                                    search:"Busqueda",
                                    lengthMenu: "Mostrar _MENU_ Registros",
                                    info: "Mostrando _START_ de _TOTAL_ Registros",
                                    paginate: {
                                        
                                        previous:   "Anterior",
                                        next:       "Siguiente",
                                        
                                    },
                                    
                                }
                        }) 
                        this.loadingTable = false
                    })
                },

                destroyDatatable(){
                    $("#table_list_orders").DataTable().destroy()
                    this.getListOrders()
                },

                delivered(order){
                    this.idOrder = order._id
                    const self = this;
                    let elements = document.getElementsByName('status');
                    for (let i=0;i<elements.length;i++) {
                        if(elements[i].value == order.status) {
                            elements[i].checked = true;
                            self.statusOrder = order.status;
                        }
                    }
                    $('#modaldelivered').modal('show')
                    
                 
                },


                setDelivered(){
                    let valueOrde
                    this.loading = true
                    this.loadingTable = true
     
                    if (this.statusOrder == 'wait') {valueOrde = 1}
                    if (this.statusOrder == 'goingToLook') {valueOrde = 2}
                    if (this.statusOrder == 'goingToDeliver') {valueOrde = 3}
                    if (this.statusOrder == 'delivered') {valueOrde = 4}
                   
                    const data = {
                            id: this.idOrder,
                            status: this.statusOrder,
                            orderValue: valueOrde,
                            estimatedTime: this.estimatedTime                           
                        }
                   this.UPDATE_DELIVERED(data).then(res => {
                        this.loading = false
                        $('#modaldelivered').modal('hide')
                        this.modal()
                     })
                  
                },

                modal(){
                    this.status == 'delivered' ? 
                        swal("Genial!", this.message, "success") 
                    :
                        swal("Ups!", this.message, "error")
                    this.destroyDatatable()
                  
                    
                },

                cancelModalDelivered(){
                     $('#modaldelivered').modal('hide')
                 },

                showModalInfoOrder(order){
                    this.onCopyPaste = false
                    this.listProduct = []
                    this.listOrderForCopy = ""
                    this.total = 0;
                    this.costTotal = 0;

                     this.userApp.name       = order.userapp.name
                     this.userApp.email      = order.userapp.email
                     this.userApp.date       = order.date
                     this.userApp.phone      = order.userapp.phone
                     this.userApp.address    = order.userapp.address
                     this.msgOrderDelivered  = order.delivered
                  
                     order.products.forEach(product => {
                        this.listOrderForCopy += `${product.quantity}  ${product.name}\n`
                        let subtotal = product.price * product.quantity
                        let costPrice = (subtotal - (subtotal * this.percentage));

                        const data = {
                            quantity: product.quantity,
                            name: product.name,
                            price:  product.price,
                            costPrice: costPrice,
                            subtotal: subtotal.toFixed(2),
                        }
                         this.listProduct.push(data),
                         this.total = this.total + subtotal
                         this.costTotal = this.costTotal + costPrice
            
                     });
                     this.listOrderForCopy += `Total: $${this.total.toFixed(2)}`
                
                     $('#modalInfoOrder').modal('show')
                 },
                 cancelModalInfoOrder(){
                    $('#modalInfoOrder').modal('hide')
                 },

                
        },

       
        
        created(){
            this.loadingTable = true
            this.AUTH_USER_LOGGED().then(res =>{
                this.destroyDatatable()
               
            })
        },

        computed:{
            ...mapState('order',['orders','status','message']),
            ...mapGetters('product',{percentage: 'GET_PERCENTAGE'}),
            
            goingToLookOrDelivery(){
                if (this.statusOrder == 'goingToLook' || this.statusOrder == 'goingToDeliver') {
                    return true;
                }
                return false;
            }
        }

    }
</script>

<style scoped>
   .action{
        float:left;
        margin-left:5px;
   }

   .titleOder{
       
       padding-top: 20px;
 
   }

   .titleTableOrder h4{
       font-size: 14px;
   }

    .spaceBetweenLetters{
        padding: 10PX;
    }

    .msgdelivered{
        padding: 20%;
        font-size: 30px;
        color: rgb(85, 170, 0);
        
    }

    .centerLoadingTable{
        width: 100%;
        text-align: center;
    }
   

</style>