<!DOCTYPE html>

<head>
    <title>Pusher Test</title>
</head>

<body>
    <h1>Ejemplo</h1>
    <p>
        Publicando un ejemplo de ordenes <code>Canal: Ordenes</code>
        con el evento: <code>newOrder</code>; el resultado:
    </p>
    <div id="app">
        <ul>
            <li v-for="order in orders">
                {{order}}
            </li>
        </ul>
    </div>

    <script src="https://js.pusher.com/6.0/pusher.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('1da667d267a4ea3f17c3', {
            cluster: 'us2'
        });

        var channel = pusher.subscribe('Orders');
        channel.bind('newOrder', function (data) {
            app.orders.push(JSON.stringify(data));
        });

        // Vue application
        const app = new Vue({
            el: '#app',
            data: {
                orders: [],
            },
        });
    </script>
</body>