<template>
    <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
</template>

<script>
    import { mapActions, mapState} from 'vuex';
    import VueApexCharts from 'vue-apexcharts'
    export default {
        computed:{
             ...mapState('statistics',['salesOfTheLast7Days']),
        },
        created(){
            this.GET_ORDERS_LAST7DAYS().then(res=>{
              this.updateChart()
              console.log(this.salesOfTheLast7Days,'7days')
            })
        },
        components: {
          apexchart: VueApexCharts,
        },
        data: () => ({

            series: [{
                name: "Ventas",
                data: [0,0],
            }],
          chartOptions: {
            chart: {
              height: 350,
              type: 'line',
              zoom: {
                enabled: false
              }
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'straight'
            },
            title: {
              text: 'Ventas de los últimos días ',
              align: 'left'
            },
            grid: {
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            xaxis: {
              categories: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom'],
            }
          },
            
        }),
        methods:{
               
                ...mapActions('statistics',['GET_ORDERS_LAST7DAYS']),

             updateChart(){
               this.series = [{
                  data: this.salesOfTheLast7Days.amounts.reverse()
                }]

                 this.chartOptions = {...this.chartOptions, ...{
                    xaxis: {
                         categories:this.salesOfTheLast7Days.dates.reverse()
                     }
                 }}
             }
                    
                  
                    
              

        },
    }
</script>

<style lang="scss" scoped>

</style>