<template>
    <apexchart type="pie" width="500" :options="chartOptions" :series="series"></apexchart>
</template>

<script>
    import { mapActions, mapGetters} from 'vuex';
    import VueApexCharts from 'vue-apexcharts'
    export default {
        data: () => ({  }),
        computed:{
             ...mapGetters('statistics',['GET_ORDERS_BY_CATEGORY']),
             series() {
                 return this.GET_ORDERS_BY_CATEGORY.percentage
             },
             chartOptions() {
                 return {
                     title: {
                        text: 'Ventas por categorías',
                        align: 'left'
                    },
                    chart: {
                        width: '500px',
                        type: 'pie',
                    },
                    labels: this.GET_ORDERS_BY_CATEGORY.categories,
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 350
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }]
                 }
          },
        },
        created(){
            this.FETCH_ORDERS_BY_CATEGORY()
        },
        components: {
          apexchart: VueApexCharts,
        },
        methods:{
            ...mapActions('statistics',['FETCH_ORDERS_BY_CATEGORY']),
        },
    }
</script>