<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Mandrilshop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
        active: function () {
          sessionStorage.fonts = true;
        }
      });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <!--begin::Page Vendors -->
    
    
    <!--end::Page Vendors -->
    <link href="<%= BASE_URL %>metronic/default/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="<%= BASE_URL %>metronic/default/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <!-- <link href="<%= BASE_URL %>metronic/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />  -->
    <link href="<%= BASE_URL %>plugin/DataTables/datatables.min.css" rel="stylesheet" type="text/css" /> 
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/plugin/gallery/galleryimages.css" />
  </head>
  <body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <noscript>
      <strong>Lo sentimos, pero <%= htmlWebpackPlugin.options.title %> no funciona si no activas Javascript. Activalo para continuar trabajando. Gracias.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->



   
     <script src="<%= BASE_URL %>metronic/default/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    
    <script src="<%= BASE_URL %>metronic/default/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
  
    
    <script type="text/javascript" src="/plugin/gallery/modernizr.custom.js"></script>
    <script type="text/javascript" src="/plugin/gallery/toucheffects.js"></script>
    <script src="<%= BASE_URL %>metronic/default/assets/demo/default/custom/components/base/sweetalert2.js" type="text/javascript"></script> 
    <script src="<%= BASE_URL %>plugin/DataTables/datatables.min.js" type="text/javascript"></script> 
    

  </body>
</html>
