<template>
    <div>
        <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 v-if="create_or_update" class="m-portlet__head-text">
                                Nueva Categoría
                            </h3>
                            <h3 v-if="!create_or_update" class="m-portlet__head-text">
                                Modificar Categoría
                            </h3>
                        </div>
                    </div>
                </div>
                
            
            <form @submit.prevent="submit()" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed m-form--state" method = "POST" action = "">
                    
                    <div class="m-portlet__body">
                           
                       
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6" :class="{'has-danger': $v.name.$error}">
                                <label>
                                    <strong> Nombre: </strong> 
                                </label>
                                <input type="text"  ref='edit' v-model="$v.name.$model" name="name" id="Name" class="form-control m-input " placeholder="Nombre" value="">
                                <div v-if="$v.name.$error" class="form-control-feedback">El nombre es Obligatorio</div>
                                
                            </div>
                            <div v-if="create_or_update" class="col-lg-6" >
                               
                                <button type="submit" id="Save" class="btn btn-primary btn-save">
                                        Guardar
                                </button>

                            </div>
                            <div v-if="!create_or_update" class="col-lg-6" >
                               
                                <button type="submit" id="Update" class="btn btn-primary btn-save">
                                        Modificar
                                </button>
                                <a @click="back()"  class="btn btn-secondary btn-back">
                                       <span>
                                            Cancelar
                                        </span>
                                </a>

                            </div>
                            
                               
                        </div>

                </div>
            </form>
                <!--end::Form-->
               
        </div>
        
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <i class="la flaticon-shapes"></i>
                                Categorías
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="centerLoadingTable col-md-12">
                     <div v-if="loadingTable" class="m-loader m-loader--lg m-loader--success" style="width: 60px; display: inline-block;"></div> 
                </div>
                <div class="m-portlet__body table-responsive">
                     <div class="m-section__content">
											
                                <div v-if="status == 'success'" class="alert alert-success" role="alert">
                                    <strong>
                                        Genial!
                                    </strong>
                                    {{message}}
                                </div>
                                
                                <div v-if="status == 'error'" class="alert alert-danger" role="alert">
                                    <strong>
                                        Ups!
                                    </strong>
                                    {{message}} 
                                </div>
											
											
						</div>
                                                   
                            <table class="display nowrap" id="table_list_categories">
                                
                                <thead>
                                    <tr>
                                        
                                        <th>
                                            Categoría
                                        </th>
                                        <th>
                                            Acción
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr v-for='category in categories' :key="category._id">
                                        
                                        <td>
                                            {{category.name}}
                                        </td>
            
                                        
                                        <td>
                                            <a
                                                @click="categoryEdit(category._id)"
                                                class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill btnUpdateCategory"
                                                title="Editar ">
                                                <i class="la la-edit"></i>
                                            </a>
                                            
                                            <a
                                                @click="showModalDelete(category._id, category.name)"
                                                class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill btnDeleteCategory"
                                                title="Eliminar">
                                                <i class="la la-trash"></i>
                                            </a>
                                            
                                            <!-- <a
                                                href="#"
                                                class="m-portlet__nav-link btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill btnUpdateUser"
                                                title="Contraseña ">
                                                <i class="fa fa-key"></i>
                                            </a> -->
                                        </td>
                                    </tr> 
                                        

                                </tbody>
                            
                            </table>
                            <!--end: Datatable -->
                        </div>
                    </div>
                </div>



                <div class="modal" id="modalDeleteCategory" tabindex="-1" role="dialog" aria-labelledby="removeCategory" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form class="form-inline" id="formDeleteCategory" method="POST" action="">
                            <input type="hidden" name="_method" value="DELETE">
    
                            <input type="hidden" name="idDeleteCategory" id="idDeleteCategory" value="">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removeCategory">
                                        <i class="flaticon-warning-2"></i> Eliminar Categoría
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    ¿Estás seguro de eliminar a <b>{{ name }}</b>?
                                    </p>
                                    <span class="m--font-danger">Si lo eliminas, se perderan los datos del mismo.</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" @click="cancelModalDeleteCategory" class="btn btn-secondary" data-dismiss="modal">
                                        <i class="la la-close"></i>
                                        Cerrar
                                    </button>
                                    <button type="button" @click="deleteCategory" class="btn btn-danger">
                                        <i class="la la-trash"></i> 
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

    </div>
</template>

<script>
    import { mapActions, mapState} from 'vuex';
    import { required,minLength} from 'vuelidate/lib/validators'
    export default {
        name:'listCategory',
        data: () => ({
            categoryIdToDelete: '',
            name: '',
            nameEdit:'',
            create_or_update: true,
            loadingTable:false,
        }),
        validations:{
             name: {
                 required,
                 minLength: minLength(1),
             },
               
        },
        methods:{
               
                ...mapActions('category',['LIST_CATEGORIES','DELETE_CATEGORY','NEW_CATEGORY','CLEAN_STATE','SEARCH_CATEGORY','UPDATE_CATEGORY','AUTH_USER_CATEGORY_LOGGED']),

                submit() {
                    
                    this.$v.$touch()
                      if (!this.$v.$invalid) {
                          if (this.create_or_update) {
                              this.onCreateCategory()
                          }else{
                              this.onEditCategory()
                          }
                         
                      }
                },


                onCreateCategory(){
                    const dataCategory = {
                        idBusiness: this.idBusiness,
                        name:       this.name,
                    }

                    this.NEW_CATEGORY(dataCategory).then(res => {
                        this.cleanInput()
                        this.getListCategories()
                    })
                    
                },
                cleanInput(){
                    
                    this.name            = ''
                    //reset validation
                    this.resetV()

                },

                categoryEdit(id){
                    this.cleanInput()
                    this.create_or_update = false
                    this.SEARCH_CATEGORY(id)
                    this.$v.name.$model = this.category_to_edit.name
                    this.$nextTick(() => { this.$refs.edit.focus() })

                },

               

                back(){
                    this.create_or_update = true
                    this.cleanInput()
                },

                getListCategories(){
                    this.LIST_CATEGORIES().then(res=>{
                        this.$nextTick(() => { $("#table_list_categories").DataTable({
                            retrieve: true,
                            language: {
                                    search:         "Busqueda",
                                        lengthMenu:     "Mostrar _MENU_ Registros",
                                        info:      "Mostrando _START_ de _TOTAL_ Registros",
                                    paginate: {
                                    
                                        previous:   "Anterior",
                                        next:       "Siguiente",
                                        
                                    },
                                    
                                }
                        }) })
                        this.loadingTable = false
                        
                    })
                },
                
                onEditCategory(){
                     const updateCategory = {
                        id:   this.category_to_edit._id,
                        name: this.$v.name.$model,
                    }

                    this.UPDATE_CATEGORY(updateCategory).then(res => {
                        this.getListCategories()
                        this.back()
                    })
                                       
                },
                
             

                showModalDelete(id, name){
                   
                    this.categoryIdToDelete = id
                    this.name               = name
                    
                    $('#modalDeleteCategory').modal('show')
                },
                cancelModalDeleteCategory(){
                    this.cleanInput()
                    $('#modalDeleteCategory').modal('hide')
                },
                deleteCategory(){
                    this.cleanInput()
                    $('#modalDeleteCategory').modal('hide')
                    this.DELETE_CATEGORY(this.categoryIdToDelete).then(res => {
                        this.getListCategories()
                    })
                    
                },

                resetV(){
                    this.$nextTick(() => { this.$v.$reset() })
                },
        },
        created(){
            this.loadingTable = true
            this.AUTH_USER_CATEGORY_LOGGED().then(res=>{
                this.getListCategories()
            })
        
        },

        

        computed:{
            ...mapState('category',['categories','status','message','idBusiness','category_to_edit'])
        }

    }
</script>

<style scoped>
    .btn-save{
        margin-top: 27px;
    }

    .btn-back{
        margin-top: 27px;
        margin-left: 15px;
    }

    .centerLoadingTable{
        width: 100%;
        text-align: center;
    }
</style>