<template>
    <div class="dashboard m-grid m-grid--hor m-grid--root m-page">
          
          <HeaderHorizontal/>
          <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
              <!-- BEGIN: Left Aside -->
              <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
                <i class="la la-close"></i>
              </button>
              <HeaderVertical/>
              
              <!-- END: Left Aside -->
              <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <div class="m-content">
                  
                       <router-view/> 
                  
                </div>
              </div>
          </div>

          <Footer/>
                
    </div>
</template>

<script>
    import HeaderHorizontal from '@/components/structure/HeaderHorizontal.vue'
    import HeaderVertical from '@/components/structure/HeaderVertical.vue'
    import Footer from '@/components/structure/Footer.vue'

    export default {
        name: 'dashboard',
        components: {
            HeaderHorizontal,
            HeaderVertical,
            Footer
        },
        
        

        created(){
              if (localStorage.getItem('loadedDasboard') == "false") {
                  console.log('pase por loaded')
                  localStorage.setItem('loadedDasboard', true)
                  location.reload()
              }
        }
    }
</script>

<style  scoped>
    .dashboard {
         height: 100%;
    }
</style>