<template>
    <div>
            <h1>Home</h1>
    </div>
    
</template>

<script>
    import {mapActions,mapState} from 'vuex';

    export default {
        data(){
            return{
               

            }
        },
        methods:{
               
              
               
        },
        computed:{
            ...mapState('user',['status','message','token','idBusiness'])
          
        },

        
    }
</script>

<style  scoped>

</style>