<template>
    <!-- PORTLE -->
    <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Configuraciones
                        <small>delivery, pasarela de pagos...</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form__group form-group">
                <h5>Delivery</h5>
                <div class="m-radio-inline">
                    <label class="m-radio">
                        <input type="radio" name="delivery" v-model="delivery"  :value="true"> Incluye delivery
                        <span></span>
                    </label>
                    <label class="m-radio">
                        <input type="radio" name="delivery" v-model="delivery" :value="false"> No incluye delivery
                        <span></span>
                    </label>
                </div>
                <div v-show="delivery" class="col-lg-4">
                    <div class="form-group m-form__group">
                        <label>Monto:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">$</span>
                            </div>
                            <input type="number" v-model="ammount" class="form-control m-input" placeholder="1300">
                            <p>
                                <span class="m--font-info">¿Hasta que monto incluye delivery?. Si no hay un monto, dejar vacío este campo</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-form__group form-group">
                <h5>Mercado Pago</h5>
                <div class="m-radio-inline">
                    <label class="m-radio">
                        <input type="radio" name="mercadopago" v-model="mercadopago" :value="true"> Con Mercado Pago
                        <span></span>
                    </label>
                    <label class="m-radio">
                        <input type="radio" name="mercadopago" v-model="mercadopago" :value="false"> Sin Mercado Pago (Solo delivery)
                        <span></span>
                    </label>
                </div>
                <p v-show="mercadopago">
                    <span class="m--font-info">No olvide pasar al administrador las credenciales de Mercado Pago.</span>
                </p>
            </div>     
            <br>
            <div class="m-form__group form-group">
                <h5>Porcentaje</h5>
                <div class="input-group col-lg-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">$</span>
                    </div>
                    <input type="number" v-model="percentage" class="form-control m-input">
                </div>
                <p>
                    <span class="m--font-info">Porcentaje de ganancia</span>
                </p>                    
            </div>
            <br>
            <div class="m-form__group form-group">
                <h5>Horario Mañana</h5>
                <div class="input-group col-lg-6">
                    <input type="text" v-model="business_hours_morning" class="form-control m-input">
                </div>
                <p>
                    <span class="m--font-info">Si el horario es de corrido, agregarlo aquí y el de la tarde dejarlo vacío.</span>
                </p>                    
            </div>
            <div class="m-form__group form-group">
                <h5>Horario Tarde</h5>
                <div class="input-group col-lg-6">
                    <input type="text" v-model="business_hours_afternoon" class="form-control m-input">
                </div>
                <p>
                    <span class="m--font-info">Horario de la tarde</span>
                </p>                    
            </div>                        
        </div>
        <div class="m-portlet__foot">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <button type="button" @click="submit()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions  } from 'vuex'
    import { mask } from 'vue-the-mask'
    export default {
        data(){
            return {
                delivery: true,
                mercadopago: true,
                ammount: null,
                percentage: 0,
                business_hours_morning: '',
                business_hours_afternoon: '',
            }
        },
        created () {
            this.FETCH_SETTINGS().then(data => {
                this.delivery = data.delivery
                this.mercadopago = data.mercadopago
                this.ammount = data.ammount
                this.percentage = data.percentage
                this.business_hours_morning = data.business_hours_morning
                this.business_hours_afternoon = data.business_hours_afternoon
            })
        },
        directives: { mask },
        methods: {
            ...mapActions('settings', ['FETCH_SETTINGS', 'SAVE_SETTINGS']),
            submit(){
                let data = {
                    delivery: this.delivery,
                    mercadopago: this.mercadopago,
                    ammount: Number(this.ammount), 
                    percentage: Number(this.percentage), 
                    business_hours_morning: this.business_hours_morning, 
                    business_hours_afternoon: this.business_hours_afternoon 
                }
                this.SAVE_SETTINGS(data).then(res => {
                     if(res.status == '200') {
                         swal("¡Datos actualizados!", this.message, "success")
                     } else {
                         swal("¡Ups, algo pasó!", this.message, "error")
                     }
                })
               
            }
        }
        
    }
</script>

<style scoped>

</style>