<template>
      
        <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                  <!-- BEGIN: Aside Menu -->
              <div 
                    id="m_ver_menu" 
                    class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " 
                    data-menu-vertical="true"
                    data-menu-scrollable="false" data-menu-dropdown-timeout="500"  
                    >
                <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                      <li v-if="isAdmin"  :class="{'m-menu__item--active':linkStatistics}" class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                        <a  @click="urlStatistics()"  class="m-menu__link m-menu__toggle">
                          <i class="m-menu__link-icon flaticon-graph"></i>
                          <span class="m-menu__link-text">
                            Estadísticas
                          </span>
                        </a>
                      </li>
                      <li class="m-menu__section">
                        <h4 class="m-menu__section-text">
                          Lista
                        </h4>
                        <i class="m-menu__section-icon flaticon-more-v3"></i>
                      </li>
                      <li :class="{'m-menu__item--active':linkOrder}" class="m-menu__item " aria-haspopup="true" >
                        <a  @click="urlOrder()"  class="m-menu__link ">
                          <i class="m-menu__link-icon flaticon-list-2 "></i>
                          <span class="m-menu__link-title">
                            <span class="m-menu__link-wrap">
                              <span class="m-menu__link-text">
                                Ordenes
                              </span>
                            </span>
                          </span>
                        </a>
                      </li>

                      
                      <li  :class="{'m-menu__item--active':linkUser}" class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                        <a  @click="urlUser()"  class="m-menu__link m-menu__toggle">
                          <i class="m-menu__link-icon flaticon-user-settings"></i>
                          <span class="m-menu__link-text">
                            Usuarios
                          </span>
                        </a>
                      </li>
                     
                      
                      <li :class="{'m-menu__item--active':linkProducts}" class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                        <a  @click="urlProducts"  class="m-menu__link m-menu__toggle">
                          <i class="m-menu__link-icon flaticon-business"></i>
                          <span class="m-menu__link-text">
                            Productos
                          </span>
                        </a>
                      </li>
                      <li  :class="{'m-menu__item--active':linkCategory}" class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                        <a  @click="urlCategory()" class="m-menu__link m-menu__toggle">
                          <i class="m-menu__link-icon flaticon-map"></i>
                          <span class="m-menu__link-text">
                            Categorías
                          </span>
                        </a>
                      </li>

                      <li  :class="{'m-menu__item--active':linkSettings}" class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
                        <a  @click="urlSettings()" class="m-menu__link m-menu__toggle">
                          <i class="m-menu__link-icon flaticon-settings"></i>
                          <span class="m-menu__link-text">
                            Configuraciones
                          </span>
                        </a>
                      </li>
                      
                </ul>
              </div>
                  <!-- END: Aside Menu -->
          </div>
 
</template>

<script>
import {mapActions,mapGetters,mapState} from 'vuex';

export default {
  name: 'HeaderVertical',

  data: function() {
  return {
    linkUser:false,
    linkCompany:false,
    linkProducts: false,
    linkCategory: false,
    linkSettings: false,
    linkOrder: false,
    linkStatistics: true,

  };
},

  methods:{
            
            urlUser(){
              this.linkDisable()
              this.$router.push({name:'listsUsers'})
              this.linkUser = true
             
            },

            urlStatistics(){
              this.linkDisable()
              this.$router.push({name:'viewStatistcs'})
              this.linkStatistics = true
             
            },
           
            
            urlOrder(){
              this.linkDisable()
              this.$router.push({name:'listOrder'})
              this.linkOrder = true
          
            },
            
            urlProducts(){
              this.linkDisable()
              this.$router.push({name:'listsProducts'})
              this.linkProducts = true
             
            },
            urlCategory(){
              this.linkDisable()
              this.$router.push({name:'listsCategories'})
              this.linkCategory = true
            },
            urlSettings(){
              this.linkDisable()
              this.$router.push({name:'settings'})
              this.linkSettings = true
            },
          

            linkDisable(){
             
              this.linkProducts   = false
              this.linkCategory   = false
              this.linkSettings   = false
              this.linkOrder      = false
              this.linkUser       = false
              this.linkCompany    = false
              this.linkStatistics = false
            }
            
        },

        computed:{
          ...mapState(['user']),
          ...mapGetters('user', ['isAdmin'])
          

        },

       

}
</script>

<style scoped>
  
  .r-active a.router-link-exact-active {
    color: #42b983;
  }
</style>
