<template>
      <!-- BEGIN: Header -->
          <header id="m_header" class="m-grid__item    m-header "  data-minimize-offset="200" data-minimize-mobile-offset="200" >
              <div class="m-container m-container--fluid m-container--full-height">
                  <div class="m-stack m-stack--ver m-stack--desktop">
                    <!-- BEGIN: Brand -->
                    <div class="m-stack__item m-brand  m-brand--skin-dark ">
                      <div class="m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-stack__item--middle m-brand__logo">
                          <!-- <img class="imgLogoMain" alt="" src="/img/MMlogocolorgris.png"/> -->
                          <!-- <a href="#" href="javascript:;" class="m-brand__logo-wrapper">
                             id="m_aside_left_minimize_toggle"
                            id="m_aside_left_offcanvas_toggle"
                          </a> -->
                        </div>
                        <div  class="m-stack__item m-stack__item--middle m-brand__tools">
                          <!-- BEGIN: Left Aside Minimize Toggle -->
                          <a  href="javascript:;" id="m_aside_left_minimize_toggle"  class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block ">
                            <span></span>
                          </a>
                          <!-- END -->
                      <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                          <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                          </a>
                          <!-- END -->
                          
                            <!-- BEGIN: Topbar Toggler -->
                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                <i class="flaticon-more"></i>
                            </a>
                     
                        </div>
                      </div>
                    </div>
                    <!-- END: Brand -->
                    <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                      <!-- BEGIN: Horizontal Menu -->
                      <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                      </button>
                      <!-- END: Horizontal Menu -->								<!-- BEGIN: Topbar -->
                      <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-topbar__nav-wrapper">
                          <ul class="m-topbar__nav m-nav m-nav--inline">
                            <li 
                              class="
                                m-nav__item 
                                m-topbar__notifications 
                                m-topbar__notifications--img
                                m-dropdown 
                                m-dropdown--large 
                                m-dropdown--arrow 
                                m-dropdown--header-bg-fill 
                                m-dropdown--align-right 
                                m-dropdown--mobile-full-width "
                              data-dropdown-toggle="click" 
                              data-dropdown-persistent="1">
                              <a href="#" @click="ORDER_ICON_ANIMATED_OFF" class="m-nav__link m-dropdown__toggle" :class="animateNotification" id="m_topbar_notification_icon">
                                <span class="m-nav__link-icon">
                                  <i class="flaticon-alarm"></i>
                                </span>
                              </a>
                              
                              <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                <div class="m-dropdown__inner">
                                  <div class="m-dropdown__inner">
                                    <div class="m-dropdown__header m--align-center" style="background: url(/img/notification_bg.jpg); background-size: cover;">
                                      <span class="m-dropdown__header-subtitle">Tus notificaciones</span>
                                    </div>
                                    <div class="m-dropdown__body">
                                      <div class="m-dropdown__content">
                                        <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                                          <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
                                              Ordenes
                                            </a>
                                          </li>
                                        </ul>
                                        <div class="tab-content">
                                          <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
                                            <div class="m-scrollable" data-scrollable="true" data-height="300" data-mobile-height="200">
                                              <div class="m-list-timeline m-list-timeline--skin-light">
                                                <div class="m-list-timeline__items">
                                                  <div v-for="order in orders.slice(0, 5)" :key="order._id" class="m-list-timeline__item" :class="{'m-list-timeline__item--read': order.status == 'delivered'}">
                                                    <span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                                                    <span class="m-list-timeline__text">
                                                        {{ order.userapp.name }} - {{ order.userapp.phone }}
                                                        <span v-if="order.status == 'wait'" style="width: 110px;"><span class="m-badge  m-badge--danger m-badge--wide">Espera</span></span>
                                                        <span v-if="order.status == 'goingToLook'" style="width: 110px;"><span class="m-badge  m-badge--info m-badge--wide">Yendo a buscar</span></span>
                                                        <span v-if="order.status == 'goingToDeliver'" style="width: 110px;"><span class="m-badge  m-badge--warning m-badge--wide">Yendo a entregar</span></span>
                                                        <span v-if="order.status == 'delivered'" style="width: 110px;"><span class="m-badge  m-badge--success m-badge--wide">Entregado</span></span>
                                                      </span>
                                                    <span class="m-list-timeline__time">hace {{ getDifferenceTime(order.date) | duration('humanize') }}</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                              <a href="#" class="m-nav__link m-dropdown__toggle">
                                <span class="m-topbar__userpic">
                                  <img src="/img/perfilDefaul.png" class="m--img-rounded m--marginless m--img-centered" alt=""/>
                                </span>
                                <span class="m-topbar__username m--hide">
                                  {{email}}
                                </span>
                              </a>
                              
                              <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                <div class="m-dropdown__inner">
                                  <div class="m-dropdown__header m--align-center" style="background: url(/img/back_user_profile.jpg); background-size: cover;">
                                    <div class="m-card-user m-card-user--skin-dark">
                                      <div class="m-card-user__pic">
                                        <img src="/img/perfilDefaul.png" class="m--img-rounded m--marginless" alt=""/>
                                      </div> 
                                      <div class="m-card-user__details">
                                        <!-- <span class="m-card-user__name m--font-weight-500">
                                          Mark Andre
                                        </span> -->
                                        <strong>{{email}}</strong> 
                                        <!-- <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                         <strong>{{emailUser}}</strong> 
                                        </a> -->
                                      </div>
                                    </div>
                                  </div>
                                  <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                      <ul class="m-nav m-nav--skin-light">
                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                        <li class="m-nav__item">
                                          <a @click="logoutUser()" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                            Salir
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- END: Topbar -->
                    </div>
                  </div>
                </div>
            </header>
            <!-- END: Header -->
 
</template>

<script>
import {mapState, mapActions, mapGetters} from 'vuex';

export default {
  name: 'HeaderHorizontal',
  data: () => ({
    email:localStorage.getItem('emailUser'),
    valueBigMenu: false,
    valueSamllMenu:false

  }),

  methods:{
     ...mapActions('user',['LOGOUT','CLEAN_STATE_USER']),
     ...mapActions('order',['CLEAN_STATE_ORDER', 'ORDER_ICON_ANIMATED_OFF']),
     ...mapActions('product',['CLEAN_STATE_PRODUCT']),
     ...mapActions('category',['CLEAN_STATE_CATEGORY']),
     getDifferenceTime(date){
        var now = moment(new Date());
        return moment.utc(now.diff(date)).valueOf()
     },
     
    bigMenu(){
      
      this.valueBigMenu = !this.valueBigMenu
  
    },

    smallMenu(){
      
      this.valueSmallMenu = !this.valueSmallMenu
     
    },

     logoutUser(){
       this.CLEAN_STATE_USER()
       this.CLEAN_STATE_ORDER()
       this.CLEAN_STATE_PRODUCT()
       this.CLEAN_STATE_CATEGORY()
       this.LOGOUT()
     }
  },
   computed:{
     ...mapState('user',['emailUser']),
     ...mapGetters('order', {get_order_icon_animated: 'GET_ORDER_ICON_ANIMATED',  orders: 'GET_ORDERS' }),
     animateNotification() {
       return {
         'm-animate-shake': this.get_order_icon_animated,
         'm-animate-blink': this.get_order_icon_animated
       }
     }
   }
  
}
</script>



<style scoped>

.dashboard{
  color: white;
  font-size: 12px;
}

.imgLogoMain{
  width: 100%;
}


</style>