<template>
    <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Nuevo Usuario
                            </h3>
                        </div>
                    </div>
                </div>
                
            
            <form @submit.prevent="submit()" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed m-form--state" method = "POST" action = "">
                    
                    <div class="m-portlet__body">
                            <div class="m-section__content">
											
                                <div v-if="status == 'created'" class="alert alert-success" role="alert">
                                    <strong>
                                        Genial!
                                    </strong>
                                    {{message}}
                                </div>
                                
                                <div v-if="status == 'error'" class="alert alert-danger" role="alert">
                                    <strong>
                                        Ups!
                                    </strong>
                                    {{message}} 
                                </div>
											
											
							</div>
                       
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6" :class="{'has-danger': $v.name.$error}">
                                <label>
                                    <strong> Nombre: </strong> 
                                </label>
                                <input type="text" v-model="$v.name.$model" name="name" id="Name" class="form-control m-input " placeholder="Nombre" value="">
                                <div v-if="$v.name.$error" class="form-control-feedback">El nombre tiene que tener mas de dos caracteres</div>
                                <div v-if="$v.name.$error" class="form-control-feedback">El nombre es Obligatorio</div>
                            </div>
                            <div class="col-lg-6" :class="{'has-danger': $v.email.$error}">
                                <label>
                                    <strong> Email: </strong> 
                                </label>
                                <input  type="email" v-model="$v.email.$model" name="email" id="Email" class="form-control m-input " placeholder="Email" value="">
                                <div v-if="!$v.email.email" class="form-control-feedback">El email tiene que ser correcto</div>
                                <div v-if="$v.email.$error" class="form-control-feedback">El email tiene es Obligatorio</div> 
                            </div>
                            
                            
                        </div>
                        <div class="form-group m-form__group row">
                            
                            <div class="col-lg-6" :class="{'has-danger': $v.password.$error}">
                                <label>
                                <strong> Contraseña: </strong>
                                    
                                </label>
                                <input type="password" v-model="$v.password.$model" name="password" id="Password" class="form-control m-input " placeholder="Contraseña" value="">
                                <div v-if="!$v.password.minLength" class="form-control-feedback">La contraseña tiene que ser mayor a 5 caracteres</div>
                                 <div v-if="$v.password.$error" class="form-control-feedback">La Contraseña es Obligatoria</div> 
                            </div>

                            <div class="col-lg-6" :class="{'has-danger': !$v.confirmPassword.sameAsPassword}">
                                <label>
                                <strong> Confirmar Contraseña: </strong>
                                    
                                </label>
                                <input type="password" v-model="$v.confirmPassword.$model" name="confirmPassword" id="confirmPassword" class="form-control m-input " placeholder="Confirmar Contraseña" value="">
                                 <div v-if="!$v.confirmPassword.sameAsPassword" class="form-control-feedback">Las contraseña no coinciden</div> 
                            </div> 

                            <div class="col-lg-6">
                                <label for="exampleSelect1">
                                    <strong> Pefil: </strong>
                                    
                                </label>

                                <select name="profile" v-model="profile" class="form-control m-input" id="Profile">
                                     <option v-for="rol in roles" :key="rol.name" :value="rol.name">{{rol.name}}</option>
                                   
                                </select> 


                            </div>
                            
                        </div>
                        
                        

                       
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <button type="submit" id="Save" class="btn btn-primary">
                                        Guardar
                                    </button>
                                    <a @click="back()"  class="btn btn-secondary btnback">
                                       <span>
                                            Volver
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
                <!--end::Form-->
               
    </div>
</template>

<script>
import {mapActions,mapState} from 'vuex';
import { required, email ,minLength,sameAs} from 'vuelidate/lib/validators'

    export default {
         data: () => ({
            name: '',
            email: '',
            errEmail:false,
            errName:false,
            password: '',
            confirmPassword: '',
            profile:'Editor'
        }),
        validations:{
             name: {
                 required,
                 minLength: minLength(2)
             },
            email:{required,email},
            password:{
                required,
                minLength:minLength(6)
            },
            confirmPassword:{
                sameAsPassword: sameAs('password')
            }
        },
        methods:{

                
                back(){  
                    this.CLEAN_STATE()
                    this.$router.push({name:'listsUsers'}) 
                },
                ...mapActions('user',['NEW_USER','CLEAN_STATE']),

                submit() {
                    
                    this.$v.$touch()
                    if (!this.$v.$invalid) {
                        this.onCreateUser()
                
                    }
                },

                onCreateUser(){
                    const dataUser = {
                        name:       this.name,
                        idBusiness: this.idBusiness,
                        email:      this.email,
                        password:   this.password,
                        role:       this.profile,
                    }
                   
                     this.NEW_USER(dataUser).then(res => {
                         this.cleanInput()
                     })
                    
                },
                cleanInput(){
                    
                    this.name            = ''
                    this.email           = ''
                    this.password        = ''
                    this.confirmPassword = ''
                    this.profile         = 'Editor'
                    //reset validation
                    this.$nextTick(() => { this.$v.$reset() })

                },

        },

        computed:{
             ...mapState('user',['status','message','error','roles','idBusiness']),

           
            
        },

        created(){
            
        }
    }
</script>

<style  scoped>

    .btnback{
        margin-left: 10px;
    }

</style>