<template>
    <div>
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                <i class="la flaticon-user"></i>
                                Usuarios
                            </h3>
                        </div>
                    </div>
                     <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                            <button type="button" @click="urlNewUser()" class="btn btn-primary">
                                <i class="la la-plus"></i>
                                <span>Nuevo usuario</span>
                            </button>
                            </li>
                            <li class="m-portlet__nav-item"></li>
                        </ul>
                    </div>
                </div>
                <div class="centerLoadingTable col-md-12">
                    <div v-if="loadingTable" class="m-loader m-loader--lg m-loader--success" style="width: 60px; display: inline-block;"></div> 
                </div>
                <div class="m-portlet__body table-responsive">
                	
                       <!--end: Search Form -->
                            <div class="m-section__content">
											
                                <div v-if="status == 'delete'" class="alert alert-success" role="alert">
                                    <strong>
                                        Genial!
                                    </strong>
                                    {{message}}
                                </div>
                                
                                <div v-if="status == 'error'" class="alert alert-danger" role="alert">
                                    <strong>
                                        Ups!
                                    </strong>
                                    {{message}} 
                                </div>
												
							</div>
                    <!--begin: Datatable -->
                    
                            <table class="display nowrap " id="table_list_users">
                                
                                <thead>
                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                        
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Perfil
                                        </th>
                                        <th>
                                            Acción
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr v-for='user in users' :key="user._id">
                                        
                                        <td>
                                            {{user.name}}
                                        </td>
                                        
                                        <td>
                                            {{user.email}}
                                        </td>
                                        <td>
                                            {{user.role}}
                                        </td>
                                        
                                        <td>
                                            <a
                                                @click="userEdit(user._id)"
                                                class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill btnUpdateUser"
                                                title="Editar ">
                                                <i class="la la-edit"></i>
                                            </a>
                                            
                                            <a
                                                v-if="localEmailUser == user.email"
                                                disabled="disabled"
                                                class="m-portlet__nav-link btn m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill btnDeleteUser"
                                                title="Eliminar">
                                                <i class="la la-trash"></i>
                                            </a>
                                            <a
                                                v-else
                                                @click="showModalDelete(user._id, user.name, user.email)"
                                                class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill btnDeleteUser"
                                                title="Eliminar">
                                                <i class="la la-trash"></i>
                                            </a>
                                            
                                            <!-- <a
                                                href="#"
                                                class="m-portlet__nav-link btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill btnUpdateUser"
                                                title="Contraseña ">
                                                <i class="fa fa-key"></i>
                                            </a> -->
                                        </td>
                                    </tr> 
                                        

                                </tbody>
                            
                            </table>
                            <!--end: Datatable -->
                        </div>
                    </div>
                </div>



                <div class="modal" id="modalDeleteUser" tabindex="-1" role="dialog" aria-labelledby="removeUser" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form class="form-inline" id="formDeleteUser" method="POST" action="">
                            <input type="hidden" name="_method" value="DELETE">
    
                            <input type="hidden" name="idDeleteUser" id="idDeleteUser" value="">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removeUser">
                                        <i class="flaticon-warning-2"></i> Eliminar Usuario
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    ¿Estás seguro de eliminar a <b>{{ name }}</b>, Email: <b>{{ email }}</b>?
                                    </p>
                                    <span class="m--font-danger">Si lo eliminas, se perderan los datos del mismo.</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" @click="cancelModalDeleteUser" class="btn btn-secondary" data-dismiss="modal">
                                        <i class="la la-close"></i>
                                        Cerrar
                                    </button>
                                    <button type="button" @click="deleteUser" class="btn btn-danger">
                                        <i class="la la-trash"></i> 
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

    </div>
</template>

<script>
    import { mapActions, mapState} from 'vuex';
    export default {
        name:'listUser',
        data: () => ({
            userIdToDelete: '',
            name: '',
            email: '',
            loadingTable:false,
        }),
        methods:{
               
                ...mapActions('user',['LIST_USERS','DELETE_USER','AUTH_USER_LOGGED']),

                getListUsers(){
                    this.LIST_USERS().then(res=>{
                        this.$nextTick(() => { $("#table_list_users").DataTable({
                            retrieve: true,
                            language: {

                                    search:"Busqueda",
                                    lengthMenu: "Mostrar _MENU_ Registros",
                                    info: "Mostrando _START_ de _TOTAL_ Registros",
                                    paginate: {
                                    
                                        previous:   "Anterior",
                                        next:       "Siguiente",
                                        
                                    },
                                    
                                }
                        }) })
                        this.loadingTable = false
                    })
                },

                urlNewUser(){  
                    this.$router.push({name:'createUsers'}) 
                },    
                
                userEdit(idUser){
                    this.$router.push({name:'updateUsers',params:{id:idUser}})
                },

                showModalDelete(id, name, email){
                    this.userIdToDelete = id
                    this.name           = name
                    this.email          = email
                    $('#modalDeleteUser').modal('show')
                },
                cancelModalDeleteUser(){
                    $('#modalDeleteUser').modal('hide')
                },
                deleteUser(){
                    $('#modalDeleteUser').modal('hide')
                    this.DELETE_USER(this.userIdToDelete).then(res => {
                        this.getListUsers()
                    })
                    
                }
        },
        created(){
            this.loadingTable = true
            this.AUTH_USER_LOGGED().then(res => {
                this.getListUsers()
            })
        },

        computed:{
            ...mapState('user',['users','status','message']),
            localEmailUser(){
                return localStorage.getItem('emailUser')
            }
        }

    }
</script>

<style scoped>

    .centerLoadingTable{
        width: 100%;
        text-align: center;
    }
</style>