<template>
    <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Editar Usuario
                            </h3>

                        </div>
                    </div>
                </div>
                
            
            <form @submit.prevent="onEditUser()" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed m-form--state" method = "POST" action = "">
                    
                    <div class="m-portlet__body">
                            <div class="m-section__content">
											
                                <div v-if="status == 'updated'" class="alert alert-success" role="alert">
                                    <strong>
                                        Genial!
                                    </strong>
                                    {{message}}
                                </div>
                                
                                <div v-if="status == 'error'" class="alert alert-danger" role="alert">
                                    <strong>
                                        Ups!
                                    </strong>
                                    {{message}} 
                                </div>
											
											
							</div>
                       
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6" :class="{'has-danger': $v.name.$error}">
                                <label>
                                    <strong> Nombre:</strong> 
                                </label>
                                <input type="text" v-model="$v.name.$model" name="name" id="Name" class="form-control m-input " placeholder="Nombre" value="">
                                <div v-if="$v.name.$error" class="form-control-feedback">El nombre tiene que tener mas de dos caracteres</div>
                                <div v-if="$v.name.$error" class="form-control-feedback">El nombre es Obligatorio</div>
                                
                            </div>
                            <div class="col-lg-6">
                                <label for="exampleSelect1">
                                    <strong> Pefil: </strong>
                                    
                                </label>

                                <select name="profile" v-model="user_to_edit.role" class="form-control m-input" id="Profile">
                                     <option v-for="rol in roles" :key="rol.name" :value="rol.name">{{rol.name}}</option>
                                   
                                </select> 


                            </div>
                            <!-- <div class="col-lg-6">
                                <label>
                                    <strong> Email: </strong> 
                                </label>
                                <input type="email" v-model="email" name="email" id="Email" class="form-control m-input " placeholder="Email" value="">
                                
                            </div> -->
                            
                            
                        </div>
                        <!-- <div class="form-group m-form__group row">
                            
                            <div class="col-lg-6">
                                <label>
                                <strong> Contraseña: </strong>
                                    
                                </label>
                                <input type="password" v-model="password" name="password" id="Password" class="form-control m-input " placeholder="Contraseña" value="">
                                
                            </div>

                            
                            
                        </div> -->
                        
                        

                       
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <button type="submit" id="Save" class="btn btn-primary">
                                        Guardar
                                    </button>
                                    <a @click="back()"  class="btn btn-secondary">
                                       <span>
                                            Volver
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
                <!--end::Form-->
               
    </div>
</template>

<script>
import {mapActions,mapState} from 'vuex';
import { required,minLength} from 'vuelidate/lib/validators'

    export default {

        data: () => ({
            name: '',
          
        }),
        validations:{
             name: {
                 required,
                 minLength: minLength(2)
             },
        },
        methods:{
               
                back(){  
                    this.$router.push({name:'listsUsers'}) 
                },
                ...mapActions('user',['SEARCH_USER','UPDATE_USER','EDIT_USER']),

                onEditUser(){

                    this.user_to_edit.name = this.$v.name.$model 
                    this.$v.$touch()
                    if (!this.$v.$invalid) {
                       this.UPDATE_USER(this.user_to_edit)
                    }
                },

        },

        computed:{
             ...mapState('user',['status','message','error','roles','idBusiness','user_to_edit']),
            
        },
    
        created(){
             this.EDIT_USER(this.$route.params.id).then(res => {
                    this.$v.name.$model = this.user_to_edit.name
            })
             
             
        }
    }
</script>

<style  scoped>

</style>