<template>
    <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Nuevo Producto 
                            </h3>
                        </div>
                    </div>
                </div>
                
            
            <form @submit.prevent="submit()" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed m-form--state" method = "POST" action = "" enctype='multipart/form-data'>
                    
                    <div class="m-portlet__body">
                            
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4 col-sm-4" :class="{'has-danger': $v.name.$error}">
                                <label>
                                    <strong> Nombre: </strong> 
                                </label>
                                <input type="text" v-model="$v.name.$model" name="name" id="Name" class="form-control m-input " placeholder="Nombre" value="">
                                <div v-if="$v.name.$error" class="form-control-feedback">El nombre tiene que tener mas de dos caracteres</div>
                                <div v-if="$v.name.$error" class="form-control-feedback">El nombre es Obligatorio</div>
                            </div>
                            <div class="col-lg-4 col-sm-4" :class="{'has-danger': $v.price.$error}">
                                <label>
                                    <strong>Precio:</strong>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">
                                            $
                                        </span>
                                    </div>
                                    <money type="text" v-model="$v.price.$model" v-bind="money" name="price" id="Price" class="form-control m-input" ></money>
                                    <div v-if="$v.price.$error" class="form-control-feedback">El precio es Obligatorio</div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4" :class="{'has-danger': $v.category.$error}">
                                <label for="exampleSelect1">
                                    <strong> Categorias: </strong>
                                    
                                </label>
                                 <select  name="category" v-model="$v.category.$model" class="form-control m-input" id="Category">
                                    <option v-for="category in categories" :key="category._id" 
                                            :value="category._id">{{category.name}}</option>
                                            
                                </select> 
                                <div v-if="$v.category.$error" class="form-control-feedback">La categoría es Obligatoria</div>

                            </div>
                            
                             
                            
                        </div>
                        <div class="form-group m-form__group row">
                             <div class="col-lg-4 col-sm-4" :class="{'has-danger': $v.discount_rate.$error}">
                                <label>
                                    <strong> Descuento %:</strong> 
                                </label>
                                <input type="integer" v-model="$v.discount_rate.$model" name="discount_rate" id="Discount_rate" class="form-control m-input " placeholder="Descuento %" value="">
                                
                                <div v-if="$v.discount_rate.$error" class="form-control-feedback">Se solicita ingresar números</div>
                            </div>
                            <div class="col-lg-4 col-sm-4" :class="{'has-danger': $v.stock.$error}">
                                <label>
                                    <strong> Stock:</strong> 
                                </label>
                                <input type="integer" v-model="$v.stock.$model" name="stock" id="Stock" class="form-control m-input " placeholder="Stock" value="">
                                <div v-if="$v.stock.$error" class="form-control-feedback">Se solicita ingresar números enteros</div>
                                <div v-if="$v.stock.$error" class="form-control-feedback">El stock es Obligatorio</div>
                            </div>
                            <div class="col-lg-4 col-sm-4" >
                                <label for="description">
                                   <strong :class="{'has-danger': $v.keywords.$error}"> Palabras Claves:</strong> colocar una , para separar las palabras 
                                </label>

                                <input type="integer" v-model="$v.keywords.$model" name="keywords" id="Keywords" class="form-control m-input " placeholder="Ej: Cumpleaños, Niños, Casamientos" value="">
                                <div v-if="$v.keywords.$error" class="form-control-feedback">Tiene que colocar al menos una palabra clave</div>

                    
                            </div>
                            
                        </div>
                         <div class="form-group m-form__group row">
                           
                            <div class="col-lg-8 col-sm-8" :class="{'has-danger': $v.description.$error}">
                                <label for="description">
                                   <strong> Descripción: </strong>
                                </label>
                                <textarea class="form-control m-input" v-model="$v.description.$model" id="exampleTextarea" rows="3"></textarea>
                                <div v-if="$v.description.$error" class="form-control-feedback">La descripción es Obligatorio</div>
                            </div>

                            
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                
                                 <label for="description">
                                   <strong> Carga de imágenes: </strong><span class="infoImageMB">la imagen no tiene que superar 1 MB</span>
                                </label>
                                <file-pond
                                    name="images"
                                    ref="pond"
                                    class-name="my-pond"
                                    label-idle="Arrastra o Precione aqui las imagenes"
                                    allow-multiple=true
                                    allowImageEdit=true
                                    allowImageCrop=true
                                    allowImageResize=true
                                    allowImagePreview=true
                                    allowImageExifOrientation=true
                                    allowFileSizeValidation=true
                                    maxFileSize="1MB"
                                    labelMaxFileSizeExceeded="El archivo es muy pesado"
                                    imagePreviewHeight="100"
                                    imageResizeTargetWidth="10"
                                    imageResizeTargetHeight="100"
                                    imageResizeMode= "contain"
                                    imageCropAspectRatio="1:1"
                                    accepted-file-types="image/jpeg, image/png, image/gif"
                                    styleLoadIndicatorPosition="center bottom"
                                    styleProgressIndicatorPosition="right bottom"
                                    styleButtonProcessItemPosition="right bottom"
                                    styleButtonRemoveItemPosition="left bottom"
                                    v-bind:files="myFiles"
                                    v-on:init="handleFilePondInit"/>
                                <div v-if="valImages" class="form-control-feedback valimages col-lg-12 col-md-12 col-sm-12"> <strong>Tiene que cargar almenos una imagen</strong></div>
                                
                            </div>	
                            
                        </div>
                         <div class="form-group m-form__group row">
                             <div class="col-md-12">
                                <label class="m-checkbox m-checkbox--state-brand">
                                    <input v-model="promo" type="checkbox"> Visualizar como promocion (Banner rotativo)
                                    <span></span>
                                </label>
                             </div>
                        </div>
                      
                       
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <button type="submit" id="Save" :class="{'m-loader m-loader--light m-loader--left': loading}" class="btn btn-primary">
                                        Guardar
                                    </button>
                                    <a @click="back()"  class="btn btn-secondary">
                                       <span>
                                            Volver
                                        </span>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
                <!--end::Form-->
               
    </div>
</template>

<script>
import {mapActions,mapState} from 'vuex';
import { required, email ,minLength,sameAs,numeric,integer} from 'vuelidate/lib/validators'
import {TheMask} from 'vue-the-mask'
import {Money} from 'v-money'


// Import FilePond
import vueFilePond from 'vue-filepond'
// Import plugins
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.esm.js'
import FilePondPluginImagePreview from 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.esm.js'
import FilePondPluginImageEdit from 'filepond-plugin-image-edit'
import FilePondPluginImageCrop from 'filepond-plugin-image-crop';
import FilePondPluginImageResize from 'filepond-plugin-image-resize'
import FilePondPluginImageExifOrientation from 'filepond-plugin-image-exif-orientation'
import FilePondPluginFileValidateSize from 'filepond-plugin-file-validate-size'

// Import styles
import 'filepond/dist/filepond.min.css'
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'

// Create FilePond component
const FilePond = vueFilePond(
    FilePondPluginFileValidateType, 
    FilePondPluginImagePreview,
    FilePondPluginImageResize,
    FilePondPluginImageExifOrientation,
    FilePondPluginImageEdit,
    FilePondPluginImageCrop,
    FilePondPluginFileValidateSize,
    );

    export default {
        components: {
            FilePond,
            TheMask,
            Money
        },
         data: () => ({
            name: '',
            price: '',
            stock:'',
            discount_rate:0,
            description:'',
            category:'',
            keywords:'',
            myFiles: [],
            valImages:false,
            loading:false,
            conditionImages: true,
            promo: false,

            money: {
                decimal: ',',
                thousands: '.',
                precision: 2,
                masked: false
            }
        }),
        validations:{
              name: {
                 required,
                  minLength: minLength(2)
              },
              price:{
                  required,
              },
              stock:{
                  required,
                  integer
              },
              discount_rate:{
                 numeric
              },
              description:{
                  required,
              },
              category:{
                  required,
              },
              keywords:{
                  required,
              },              
              
        },
        methods:{

                
                 
                 ...mapActions('product',['NEW_PRODUCT','CLEAN_STATE','AUTH_USER_PRODUCT_LOGGED']),
                 ...mapActions('category',['LIST_CATEGORIES','AUTH_USER_CATEGORY_LOGGED']),

                 back(){  
                     this.CLEAN_STATE()
                     this.$router.push({name:'listsProducts'}) 
                 },

                 modal(){
                    this.status == 'created' ? 
                        swal("Genial!", this.message, "success") 
                    :
                        swal("Ups!", this.message, "error")
                },

                 submit() {
                     
                    this.validImg()
                    this.$v.$touch()
                    if (!this.$v.$invalid && this.conditionImages) {
                        this.loading = true
                        this.onCreateProduct()
                    }
                 },

                 validImg(){
                     this.images  = this.$refs.pond.getFiles()
                     this.images == '' ? this.valImages = true : this.valImages = false
                     
                     
                     if (this.valImages == true) {
                         this.conditionImages = false
                     }else{
                         this.conditionImages = true
                     }
                 },

                 

                 onCreateProduct(){

                     if (this.discount_rate == "") {
                         this.discount_rate = 0
                     }

                     const dataProduct = {
                         idBusiness:    this.idBusiness,
                         name:          this.name,
                         description:   this.description,
                         price:         Number.parseFloat(this.price).toFixed(2),
                         stock:         this.stock,
                         discount_rate: this.discount_rate,
                         files:         this.$refs.pond.getFiles(),
                         keywords:      this.keywords,
                         categoryId:    this.category,
                         promo:    this.promo
                  
                     }
                     
                     this.NEW_PRODUCT(dataProduct).then(res => {
                        this.loading = false
                        this.cleanInput()
                         this.modal()
                     })
                    
                 },
                 cleanInput(){
                    
                    this.name            = ''
                    this.description     = ''
                    this.price           = ''
                    this.stock           = ''
                    this.discount_rate   = ''
                    this.keywords        = ''
                    this.myFiles         = []
                    this.category        = ''
                
                    this.$nextTick(() => { this.$v.$reset() })

                 },

                 handleFilePondInit(){
                    console.log('FilePond has initialized'); 
                }
        },

        computed:{
             ...mapState('product',['status','message','error','idBusiness']),
             ...mapState('category',['categories']),

           
            
        },

        created(){
            
            this.AUTH_USER_PRODUCT_LOGGED()
            this.AUTH_USER_CATEGORY_LOGGED().then(res=>{
                this.LIST_CATEGORIES()
            })  
            
        }
    }
</script>

<style  scoped>
    
    .valtags{
        color:#f4516c;
    }

    .valimages{
        color:#f4516c;
        font-size: 14px;
        padding-bottom: 10px;
        text-align: center;

    }
    .infoImageMB{
        color:brown;
    }
   
</style>