<template>
    <div>
        <div class="m-content">
                       
                    <div class="m-portlet m-portlet--mobile">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        <i class="la flaticon-business"></i>
                                        Lista de Productos {{ ifFilterCategory }}
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                    <button type="button" @click="urlNewProduct()" class="btn btn-primary">
                                        <i class="la la-plus"></i>
                                        <span>Nuevo Producto</span>
                                    </button>
                                    &nbsp;
                                    &nbsp;
                                    <button type="button" @click="showModalByCategory()" class="btn btn-info">
                                        <i class="la la-filter"></i>
                                        <span>Por categorías</span>
                                    </button>                                    
                                    </li>
                                    <li class="m-portlet__nav-item"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="centerLoadingTable col-md-12">
                            <div v-if="loadingTable" class="m-loader m-loader--lg m-loader--success" style="width: 60px; display: inline-block;"></div> 
                        </div>
                            <div class="m-portlet__body table-responsive">
                            
                                <table  class="display nowrap "  id="table_list_products">
                                    
                                    <thead>
                                        <tr>
                                            <th>
                                                Img
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                            
                                            <th>
                                                Precio
                                            </th>
                                            <th>
                                                Stock
                                            </th>
                                            <th>
                                                Descuento
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                            <th>
                                                Acción
                                            </th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                      
                                    
                                        <tr v-for='product in products' :key="product._id">
                                            
                                            <td>
                                                <dir v-if="product.images.length != 0">
                                                    <img v-if="product.images[0].idThumbsnail != 'Ecommerce/products/thumbsnails/sinfoto'" class="imgLisTable" :src="product.images[0].urlThumbsnail" alt="">
                                                    <img v-if="product.images[0].idThumbsnail == 'Ecommerce/products/thumbsnails/sinfoto'" class="imgLisTableUndefined" :src="product.images[0].urlThumbsnail" alt="">
                                                </dir>
                                                <div v-else>
                                                    <img  class="imgLisTableUndefined2" src="https://res.cloudinary.com/dzrifpy1f/image/upload/v1602541243/Ecommerce/products/thumbsnails/sinfoto.png" alt="">
                                                </div>     
                                            </td>
                                            <td>
                                                {{product.name}}
                                            </td>
                                            <td>
                                                {{product.price}}
                                            </td>
                                            <td>
                                                {{product.stock}}
                                            </td>
                                            <td>
                                                {{product.discount_rate}}
                                            </td>
                                            <td>
                                                {{ product.date | moment("Do MMMM YYYY") }}
                                            </td>
                                            
                                            <td>
                                                <a
                                                    @click="showModalView(product._id)"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill btnUpdateUser"
                                                    title="Ver ">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                
                                                <a
                                                    @click="productEdit(product._id)"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill btnUpdateUser"
                                                    title="Editar ">
                                                    <i class="la la-edit"></i>
                                                </a>
                                                
                                                <a
                                                    @click="showModalDelete(product._id, product.name)"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill btnDeleteUser"
                                                    title="Eliminar">
                                                    <i class="la la-trash"></i>
                                                </a>

                                                <a
                                                    @click="editPrice(product._id, product.price)"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill btnUpdateUser"
                                                    title="Editar precio ">
                                                    <i class="la la-dollar"></i>
                                                </a>                                                

                                            </td>
                                        </tr> 
                                            

                                    </tbody>
                                
                                </table>
                            </div>
                    
                   
                    </div>
                        <div class="modal fade" id="modalViewProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">
											Producto 
										</h5>
                                       
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
										</button>
									</div>
                                    
<!-- inicio de modal body-->	    <div class="modal-body"> 
                                            
                                        <div class="m-portlet__body">
                                            <div class="centerLoading">
                                                <div v-if="loading" class="m-loader m-loader--lg m-loader--success" style="width: 60px; display: inline-block;"></div> 
                                            </div>
                                            
                                            <div v-if="!loading">
                                                <div class="m-widget13">
                                                    <div class="m-widget13__item">
                                                        <span class="m-widget13__desc m--align-right">
                                                            Nombre:
                                                        </span>
                                                        <span  class="m-widget13__text m-widget13__text-bolder">
                                                            {{nameProduct}}
                                                        </span>
                                                    </div>
                                                    <div class="m-widget13__item">
                                                        <span class="m-widget13__desc m--align-right">
                                                            Precio $:
                                                        </span>
                                                        
                                                        <span class="m-widget13__text m-widget13__text-bolder">
                                                            {{priceProduct}}
                                                        </span>
                                                    </div>
                                                    <div class="m-widget13__item">
                                                        <span class="m-widget13__desc m--align-right">
                                                            Categoría:
                                                        </span>
                                                        <span class="m-widget13__text m-widget13__text-bolder">
                                                            {{category}}
                                                        </span>
                                                    </div>
                                                    <div class="m-widget13__item">
                                                        <span class="m-widget13__desc m--align-right">
                                                            Stock:
                                                        </span>
                                                        <span class="m-widget13__text m-widget13__text-bolder">
                                                            {{stockProduct}}
                                                        </span>
                                                    </div>
                                                    <div class="m-widget13__item">
                                                        <span class="m-widget13__desc m--align-right">
                                                            Descuento%:
                                                        </span>
                                                        <span class="m-widget13__text m-widget13__text-bolder">
                                                            {{discount_rateProduct}}
                                                        </span>
                                                    </div>
                                                    <div class="m-widget13__item">
                                                        <span class="m-widget13__desc m--align-right">
                                                            Descripción:
                                                        </span>
                                                        <span class="m-widget13__text ">
                                                            {{descriptionProduct}}
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                           
                                            

                                                <ul class="grid cs-style-3">
                                                    <li v-for="image in images" :key="image.id" id="">
                                                        <figure>
                                                            <!-- <img class="imgView" v-if="image.urlThumbsnail != undefined" :src="image.urlThumbsnail" alt="">
                                                            <img v-if="image.urlThumbsnail == undefined" :src="image.url" alt=""> -->
                                                            <img class="imgView" :src="image.url" alt="">
                                                        </figure>
                                                        
                                                    </li>
                                                </ul>   
                                            </div>
<!-- final de modal body-->
									    </div>
                                    </div>
									<div class="modal-footer">
										<button type="button" @click="cancelModalViewProduct()" class="btn btn-secondary" data-dismiss="modal">
											Cerrar
										</button>
									</div>
							    </div>
					        </div>
				        </div>



                <div class="modal" id="modalDeleteProduct" tabindex="-1" role="dialog" aria-labelledby="removeProduct" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form class="form-inline" id="formDeleteProduct" method="POST" action="">
                            <input type="hidden" name="_method" value="DELETE">
    
                            <input type="hidden" name="idDeleteProduct" id="idDeleteProduct" value="">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removeProduct">
                                        <i class="flaticon-warning-2"></i> Eliminar Producto
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    ¿Estás seguro de eliminar a <b>{{ name }}</b>?
                                    </p>
                                    <span class="m--font-danger">Si Elimina el producto perdera todas la información del mismo.</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" @click="cancelModalDeleteProduct" class="btn btn-secondary" data-dismiss="modal">
                                        <i class="la la-close"></i>
                                        Cerrar
                                    </button>
                                    <button type="button" @click="deleteProduct" :class="{'m-loader m-loader--light m-loader--left': loading}" class="btn btn-danger">
                                        <i class="la la-trash"></i> 
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </form>
                </div>
                </div>

                <div class="modal" id="modalEditPrice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Editar precio</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">
                                            $
                                        </span>
                                    </div>
                                    <money autofocus type="text" v-model="$v.updatePrice.$model" v-bind="money" name="price" id="Price" class="form-control m-input" ></money>
                                    <div v-if="$v.updatePrice.$error" class="form-control-feedback">El precio es Obligatorio</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button @click="goUpdatePrice" :class="{'m-loader m-loader--light m-loader--left': loadingUpdatePrice}" type="button" class="btn btn-primary">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>                

                <div class="modal" id="modalFilterByCategory" tabindex="-1" role="dialog"  aria-hidden="true">
                    <div class="modal-dialog" role="document">
                       
                        <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removeProduct">
                                        <i class="la la-filter"></i> Filtrar por categorías
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <center>
                                        <p>
                                            Categorías
                                        </p>
                                    </center>
                                    <center>
                                        <select v-model="category" class="form-control m-input m-input--square" id="exampleSelect1">
                                            <option value="all" selected>Todos</option>
                                            <option :value="category" v-for="category in categories" :key="category._id">{{ category.name }}</option>
                                        </select>
                                    </center>
                                    <br>
                                <div class="modal-footer">
                                    <button type="button" @click="filterByCategory" class="btn btn-primary">
                                        <i class="la la-check"></i> 
                                        Aceptar
                                    </button>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>                

    </div>
</div>
</template>

<script>
    import { mapActions, mapGetters, mapState} from 'vuex';
    import { required, numeric, integer} from 'vuelidate/lib/validators'
    import {Money} from 'v-money';
    export default {
        name:'listUser',
        data: () => ({
            filterOk: false,
            userIdToDelete: '',
            name: '',
            email: '',
            loading:false,
            loadingTable:false,
            loadingUpdatePrice: false,
            userIdEdit:'',
            category:'', 
            images:'',
            nameProduct:'',
            priceProduct:'',
            stockProduct:'',
            discount_rateProduct:'',
            descriptionProduct:'',
            categoryId: '',
            updateId: '',
            updatePrice: '',
            money: {
                decimal: ',',
                thousands: '.',
                precision: 2,
                masked: false
            }            
        }),
        validations: {
            updatePrice: {
                required
            },
        },        
        methods:{
               
                ...mapActions('product',['UPDATE_PRICE', 'LIST_PRODUCTS','DELETE_PRODUCT','EDIT_PRODUCT','AUTH_USER_PRODUCT_LOGGED', 'FILTER_BY_CATEGORY']),
                ...mapActions('category',['SEARCH_CATEGORY','EDIT_CATEGORY', 'LIST_CATEGORIES']),

                getListCategories(){
                    this.LIST_CATEGORIES()
                },

                 getListProducts(){
                     
                    this.LIST_PRODUCTS().then(res=>{
                        $("#table_list_products").DataTable().destroy();
                        this.$nextTick(() => { 
                            $("#table_list_products").DataTable({
                                destroy: true,
                                retrieve: false,
                                order: [[ 5, 'desc' ]],
                                 responsive: true,
                                 columnDefs:[
                                     {responsivePriority: 1, targets: 0},
                                     {responsivePriority: 2, targets: 1}, 
                                     {responsivePriority: 3, targets: 4, visible: true},
                                      
                                  ],

                                language:{
                                        search:         "Busqueda",
                                        lengthMenu:     "Mostrar _MENU_ Registros",
                                        info:      "Mostrando _START_ de _TOTAL_ Registros",
                                        paginate: {
                                             previous:   "Anterior",
                                             next:       "Siguiente",
                                        },
                                        
                                }
                            })

                        })
                        this.loadingTable = false
                        
                    })
                    
                 },

                 urlNewProduct(){  
                     this.$router.push({name:'createProducts'}) 
                 },    
                
                 productEdit(idProduct){
                     this.$router.push({name:'updateProducts',params:{id:idProduct}})
                 },

               
                 showModalView(id){
                     this.loading = true
                     this.getProductView(id)
                     $('#modalViewProduct').modal('show')
                 },
                 cancelModalViewProduct(){
                    this.cleanViewProduct()
                    $('#modalViewProduct').modal('hide')
                 },

                 editPrice(id, price){
                     this.updateId = id;
                     this.$v.updatePrice.$model = Number.parseFloat(price).toFixed(2);
                     $('#modalEditPrice').modal('show')
                 },

                 goUpdatePrice(){
                    this.loadingUpdatePrice = true;
                    let data = {
                        id: this.updateId,
                        price: Number.parseFloat(this.$v.updatePrice.$model).toFixed(2)
                    };
                    this.UPDATE_PRICE(data).then(res => {
                        $('#modalEditPrice').modal('hide')
                        this.loadingUpdatePrice = false

                    })
                 },

                 showModalDelete(id, name){
                     this.productIdToDelete = id
                     this.name              = name
    
                     $('#modalDeleteProduct').modal('show')
                 },
                 cancelModalDeleteProduct(){
                    $('#modalDeleteProduct').modal('hide')
                 },
                 deleteProduct(){
                    this.loading = true
                    $('#modalDeleteProduct').modal('hide')
                     this.DELETE_PRODUCT(this.productIdToDelete).then(res => {
                         this.getListProducts()
                         this.loading = false
                         this.modal()
                     })
                    
                },
                 modal(){
                    this.status == 'delete' ? 
                        swal("Genial!", this.message, "success") 
                    :
                        swal("Ups!", this.message, "error")
                },

                searchCategory(id){
                    this.EDIT_CATEGORY(id).then(res =>{
                              this.loadProductView()             
                    })
                },

                getProductView(id){

                    this.EDIT_PRODUCT(id).then(res => {
                        this.searchCategory(this.product_to_edit.category)
                        
                        
                     })
                },

                loadProductView(){
                    this.images                      = this.product_to_edit.images
                    this.nameProduct                 = this.product_to_edit.name
                    this.priceProduct                = this.product_to_edit.price
                    this.category                    = this.category_to_edit.name
                    this.stockProduct                = this.product_to_edit.stock
                    this.discount_rateProdcutProduct = this.product_to_edit.discount_rate
                    this.descriptionProduct          = this.product_to_edit.description  
                    this.loading                     = false   
                },

                showModalByCategory(){
                    this.filterOk = false;
                    $('#modalFilterByCategory').modal('show');
                },

                filterByCategory(){
                    $('#modalFilterByCategory').modal('hide');
                    this.filterOk = true;
                    if (this.category == "all" || this.category == "undefined"){
                        this.loadingTable = true
                        $("#table_list_products").DataTable().destroy();
                        this.LIST_PRODUCTS().then(res=>{
                            $("#table_list_products").DataTable().draw();
                            this.loadingTable = false;
                        })
                    } else {
                        this.loadingTable = true
                        $("#table_list_products").DataTable().destroy();
                        this.FILTER_BY_CATEGORY(this.category._id).then(data => {
                            $("#table_list_products").DataTable().draw();
                            this.loadingTable = false;
                        })
                    }
                },


                cleanViewProduct(){
    
                    this.nameProduct                 = ''
                    this.priceProduct                = ''
                    this.category                    = ''
                    this.stockProduct                = ''
                    this.discount_rateProdcutProduct = ''
                    this.descriptionProduct          = '' 
                    this.images                      = ''
                }

        },
        created(){
            this.loadingTable = true
             this.AUTH_USER_PRODUCT_LOGGED().then(res => {
                this.getListProducts()
                this.getListCategories()
             })    
        },

        components: {
            Money
        },

        computed:{
             ...mapState('product',['products','status','message','product_to_edit']),
             ...mapState('category',['category_to_edit', 'categories']),
             ifFilterCategory(){
                 if (this.category == "" || this.category == "all" || this.category == "undefined"){
                     if (!this.filterOk){
                         return "";
                     }
                 } else {
                     if (this.filterOk){
                         return " - filtrado por " + this.category.name
                     }
                 }
             }
        }

    }
</script>

<style scoped>
    .centerLoading{
        text-align: center;
    }

    .centerLoadingTable{
        width: 100%;
        text-align: center;
    }

    .imgLisTable{
        /* width: 80px; */
        height: 80px; 
    }

    .imgLisTableUndefined{
        height: 30px;
    }

    .imgLisTableUndefined2{
        height: 30px;
        margin-left: 40px;
    }


    .imgView{
        height: 200px;
    }
</style>