<template>
    <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Editar Producto
                            </h3>

                        </div>
                    </div>
                </div>
                
            
            <form @submit.prevent="onEditProduct()" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed m-form--state" method = "POST" action = "" enctype='multipart/form-data'>
                    
                    <div class="m-portlet__body">
                            
                        <div class="form-group m-form__group row">
                            <div class="col-lg-4 col-sm-4" :class="{'has-danger': $v.name.$error}">
                                <label>
                                    <strong> Nombre: </strong> 
                                </label>
                                <input type="text" v-model="$v.name.$model" name="name" id="Name" class="form-control m-input " placeholder="Nombre" value="">
                                <div v-if="$v.name.$error" class="form-control-feedback">El nombre tiene que tener mas de dos caracteres</div>
                                <div v-if="$v.name.$error" class="form-control-feedback">El nombre es Obligatorio</div>
                            </div>
                             <div class="col-lg-4 col-sm-4" :class="{'has-danger': $v.price.$error}">
                                <label>
                                    <strong>Precio:</strong>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">
                                            $
                                        </span>
                                    </div>
                                    <money type="text" v-model="$v.price.$model" v-bind="money" name="price" id="Price" class="form-control m-input" ></money>
                                    <div v-if="$v.price.$error" class="form-control-feedback">El precio es Obligatorio</div>
                                </div>
                            </div> 
                            <div class="col-lg-4 col-sm-4" :class="{'has-danger': $v.category.$error}">
                                <label for="exampleSelect1">
                                    <strong> Categorias: </strong>
                                    
                                </label>
                                 <select  name="category" v-model="$v.category.$model" class="form-control m-input" id="Category">
                                    <option v-for="category in categories" :key="category._id" 
                                            :value="category._id">{{category.name}}</option>
                                            
                                </select> 
                                <div v-if="$v.category.$error" class="form-control-feedback">La categoría es Obligatoria</div>

                            </div> 
                            
                             
                            
                        </div>
                        <div class="form-group m-form__group row">
                              <div class="col-lg-4 col-sm-4" :class="{'has-danger': $v.discount_rate.$error}">
                                <label>
                                    <strong> Descuento %:</strong> 
                                </label>
                                <input type="integer" v-model="$v.discount_rate.$model" name="stock" id="Stock" class="form-control m-input " placeholder="Descuento %" value="">
                                <div v-if="$v.discount_rate.$error" class="form-control-feedback">El nombre tiene que tener mas de dos caracteres</div>
                                <div v-if="$v.discount_rate.$error" class="form-control-feedback">Se solicita ingresar números</div>
                            </div>
                            <div class="col-lg-4 col-sm-4" :class="{'has-danger': $v.stock.$error}">
                                <label>
                                    <strong> Stock:</strong> 
                                </label>
                                <input type="integer" v-model="$v.stock.$model" name="stock" id="Stock" class="form-control m-input " placeholder="Stock" value="">
                                <div v-if="$v.stock.$error" class="form-control-feedback">Se solicita ingresar números enteros</div>
                                <div v-if="$v.stock.$error" class="form-control-feedback">El stock es Obligatorio</div>
                            </div>
                            <div class="col-lg-4 col-sm-4" >
                                <label for="description">
                                   <strong :class="{'has-danger': $v.keywords.$error}"> Palabras Claves:</strong>
                                </label>

                                <input type="integer" v-model="$v.keywords.$model" name="keywords" id="Keywords" class="form-control m-input "  value="">
                                <div v-if="$v.keywords.$error" class="form-control-feedback">Tiene que colocar al menos una palabra clave</div>

                    
                            </div> 
                            
                        </div>
                         <div class="form-group m-form__group row">
                           
                            <div class="col-lg-8 col-sm-8" :class="{'has-danger': $v.description.$error}">
                                <label for="description">
                                   <strong> Descripción: </strong>
                                </label>
                                <textarea class="form-control m-input" v-model="$v.description.$model" id="exampleTextarea" rows="3"></textarea>
                                <div v-if="$v.description.$error" class="form-control-feedback">La descripción es Obligatorio</div>
                            </div> 
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label for="description">
                                    <strong> Carga de imágenes: </strong> <span class="infoImageMB">la imagen no tiene que superar 1 MB</span>  
                                </label>
                                <file-pond
                                    name="images"
                                    class="filepond"
                                    ref="pond"
                                    class-name="my-pond"
                                    label-idle="Arrastra o Precione aqui las imagenes"
                                    allow-multiple=true
                                    allowImageEdit=true
                                    allowImageCrop=true
                                    allowImageResize=true
                                    allowImagePreview=true
                                    allowImageExifOrientation=true
                                    allowFileSizeValidation=true
                                    maxFileSize="1MB"
                                    labelMaxFileSizeExceeded="El archivo es muy pesado"
                                    imagePreviewHeight="100"
                                    imageResizeTargetWidth="10"
                                    imageResizeTargetHeight="100"
                                    imageResizeMode= "contain"
                                    imageCropAspectRatio="1:1"
                                    accepted-file-types="image/jpeg, image/png, image/gif"
                                    styleLoadIndicatorPosition="center bottom"
                                    styleProgressIndicatorPosition="right bottom"
                                    styleButtonProcessItemPosition="right bottom"
                                    styleButtonRemoveItemPosition="left bottom"
                                    v-bind:files="myFiles"
                                    v-on:init="handleFilePondInit"/>
                            </div>	
                            
                        </div>
                        <div class="form-group m-form__group row">
                             <div class="col-md-12">
                                <label class="m-checkbox m-checkbox--state-brand">
                                    <input v-model="promo" type="checkbox"> Visualizar como promocion (Banner rotativo)
                                    <span></span>
                                </label>
                             </div>
                        </div>
                         
                      
                       
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <button type="submit" id="Save" :class="{'m-loader m-loader--light m-loader--left': loading}" class="btn btn-primary ">
                                        Guardar
                                    </button>
                                    <a @click="back()"  class="btn btn-secondary">
                                       <span>
                                            Volver
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
                <!--end::Form-->
                
           
            <ul class="grid cs-style-3">
                
                    <li v-for="image in images" :key="image.id" id="">
                        <figure>
                            <img :src="image.url" alt="">
                            <figcaption>
                                <div v-if="images.length > 1" class="btnDeleteImage">
                                    <button type="button" @click="showModalDelete(image.id)" class="btn btn-danger">
                                        <i class="la la-trash"></i> 
                                        Eliminar
                                    </button>
                                </div>
                                <div v-else class="btnDeleteImage">
                                    <p>No se puede eliminar si hay solo una sola imagen</p>
                                </div>
                            </figcaption>
                        </figure>
                       
                    </li>
 
            </ul>


            
            <div class="modal" id="modalDeleteImage" tabindex="-1" role="dialog" aria-labelledby="removeImage" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form class="form-inline" id="formDeleteImage" method="POST" action="">
                            <input type="hidden" name="_method" value="DELETE">
    
                            <input type="hidden" name="idDeleteImage" id="idDeleteImage" value="">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removeImage">
                                        <i class="flaticon-warning-2"></i> Eliminar Imagen
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                    ¿Estás seguro de eliminar la imagen?
                                    </p>
                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" @click="cancelModalDeleteImage()" class="btn btn-secondary" data-dismiss="modal">
                                        <i class="la la-close"></i>
                                        Cerrar
                                    </button>
                                    <button type="button" @click="deleteImage()" :class="{'m-loader m-loader--light m-loader--left': loadingDelete}" class="btn btn-danger">
                                        <i class="la la-trash"></i> 
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            
                 
               
    </div>
    
    
</template>


<script>
import {mapActions,mapState} from 'vuex';
import { required, email ,minLength,sameAs,numeric,integer} from 'vuelidate/lib/validators'
import {TheMask} from 'vue-the-mask'
import {Money} from 'v-money'


// Import FilePond
import vueFilePond from 'vue-filepond'
// Import plugins
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.esm.js'
import FilePondPluginImagePreview from 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.esm.js'
import FilePondPluginImageEdit from 'filepond-plugin-image-edit'
import FilePondPluginImageCrop from 'filepond-plugin-image-crop';
import FilePondPluginImageResize from 'filepond-plugin-image-resize'
import FilePondPluginImageExifOrientation from 'filepond-plugin-image-exif-orientation'
import FilePondPluginFileValidateSize from 'filepond-plugin-file-validate-size'

// Import styles
import 'filepond/dist/filepond.min.css'
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'

// Create FilePond component
const FilePond = vueFilePond(
    FilePondPluginFileValidateType, 
    FilePondPluginImagePreview,
    FilePondPluginImageResize,
    FilePondPluginImageExifOrientation,
    FilePondPluginImageEdit,
    FilePondPluginImageCrop,
    FilePondPluginFileValidateSize,
);

    export default {
        components: {
            FilePond,
            TheMask,
            Money
        },

        data: () => ({
            name: '',
            price: '',
            stock:'',
            discount_rate:'',
            description:'',
            category:'',
            keywords:'',
            myFiles: [],
            valImages:false,
            conditionImages: true,
            idImageDelete:'',
            loading:false,
            loadingDelete:false,
            images:'',
            promo: false,

            money: {
                decimal: ',',
                thousands: '.',
                precision: 2,
                masked: false
            }
          
        }),


        validations:{
              name: {
                 required,
                  minLength: minLength(2)
              },
              price:{
                  required,
              },
              stock:{
                  required,
                  integer
              },
              discount_rate:{
                  numeric
              },
              description:{
                  required,
              },
              category:{
                  required,
              },
              keywords:{
                  required,
              },              
              
        },
        methods:{
                ...mapActions('product',['SEARCH_PRODUCT','UPDATE_PRODUCT','DELETE_IMAGE_PRODUCT','LIST_PRODUCTS','EDIT_PRODUCT','EDIT_IMAGES']),
                ...mapActions('category',['LIST_CATEGORIES','AUTH_USER_CATEGORY_LOGGED']),

                
                modal(){
                    this.status == 'updated' ? 
                        swal("Genial!", this.message, "success") 
                    :
                        swal("Ups!", this.message, "error")
                },
                back(){  
                    this.$router.push({name:'listsProducts'}) 
                },



                showModalDelete(idImage){
                    this.idImageDelete = idImage
                    $('#modalDeleteImage').modal('show')
                },
                
                cancelModalDeleteImage(){
                    $('#modalDeleteImage').modal('hide')
                },
                deleteImage(){
                    this.loadingDelete = true
                
                    const dataImage = {
                        productId: this.product_to_edit._id,
                        imageId:   this.idImageDelete,   
                    }
                     this.DELETE_IMAGE_PRODUCT(dataImage).then(res => {
                         this.getImages()
                         this.loadingDelete = false
                         $('#modalDeleteImage').modal('hide')
                     })
                    
                },
               

                onEditProduct(){
                    if (this.$v.discount_rate.$model == "") {
                         this.$v.discount_rate.$model = 0
                     }
                    this.product_to_edit.name           = this.$v.name.$model 
                    this.product_to_edit.price          = Number.parseFloat(this.$v.price.$model).toFixed(2)
                    this.product_to_edit.stock          = this.$v.stock.$model
                    this.product_to_edit.discount_rate  = this.$v.discount_rate.$model
                    this.product_to_edit.keywords       = this.$v.keywords.$model 
                    this.product_to_edit.description    = this.$v.description.$model
                    this.product_to_edit.images         = this.$refs.pond.getFiles(),
                    this.product_to_edit.category       = this.$v.category.$model
                    this.product_to_edit.promo          = this.promo
        
                      this.$v.$touch()
                      if (!this.$v.$invalid) { 
                         this.loading = true
                          this.UPDATE_PRODUCT(this.product_to_edit).then(res=>{
                            this.reset()
                             this.modal()
                              this.getProductEdit()
                              this.loading = false
                             
                          })
                      }
                },
                 handleFilePondInit(){
                    console.log('FilePond has initialized'); 
                },

                reset(){
                      this.product_to_edit.images.forEach(image => {
                        
                         this.$refs.pond.removeFile(image)   
                      });
                },

                

                getProductEdit(){
                    
                    this.EDIT_PRODUCT(this.$route.params.id).then(res => {
                        
                        this.$v.category.$model      = this.product_to_edit.category
                        this.$v.name.$model          = this.product_to_edit.name
                        this.$v.price.$model         = this.product_to_edit.price
                        this.$v.stock.$model         = this.product_to_edit.stock
                        this.$v.discount_rate.$model = this.product_to_edit.discount_rate
                        this.$v.keywords.$model      = this.product_to_edit.keywords
                        this.$v.description.$model   = this.product_to_edit.description
                        this.promo                   = this.product_to_edit.promo
                        this.images                  = this.product_to_edit.images
                        
                     })
                    

                },

                getImages(){
                    this.EDIT_IMAGES(this.$route.params.id).then(res => {
                
                        this.images   =   this.images_to_edit.images
                        console.log(this.images,'img producto');
                     })
                }

                

        },

        computed:{
            ...mapState('product',['status','message','error','roles','idBusiness','product_to_edit','images_to_edit']),
            ...mapState('category',['categories'])     
        },
    
        created(){
             
             this.getImages()
             this.getProductEdit()
             this.AUTH_USER_CATEGORY_LOGGED().then(res=>{
                 this.LIST_CATEGORIES()
             })
             
             
        }
    }
</script>

<style  scoped>
    .btnDeleteImage{
        text-align: center;
        padding-top: 12px;
    }

    .filepond--root {
        width:100px;
        height: auto;
        margin: 0 auto;
    }

    .infoImageMB{
        color:brown;
    }
</style>