<template>
  <div>
      <div class="m-portlet">
          <div class="m-portlet__body  m-portlet__body--no-padding">
							<div class="row m-row--no-padding m-row--col-separator-xl">
						
									<div class="col-md-12 col-lg-6 ">
                      <!--begin::New Users prueba para deploy-->
                      <div class="m-widget24">
                          <div class="m-widget24__item">
                              <h4 class="m-widget24__title">
                                Cantidad de Ordenes
                              </h4>
                              <br>
                              
                              <span class=" m--font-success numberDashboard">
                                {{numbersDashboard.totalOrders}}
                              </span>
                              <div class="m--space-10"></div>
                            
                          </div>
                      </div>
                      <!--end::New Users-->
									</div>

                  <div class="col-md-12 col-lg-6 ">
                      <!--begin::New Users-->
                      <div class="m-widget24">
                          <div class="m-widget24__item">
                              <h4 class="m-widget24__title">
                                Total Recaudado
                              </h4>
                              <br>
                              
                              <span class=" m--font-success numberDashboard">
                                $ {{numbersDashboard.totalSales}}
                              </span>
                              <div class="m--space-10"></div>
                            
                          </div>
                      </div>
                      <!--end::New Users-->
									</div>
                  
							</div>
				</div>
      </div>
      <div class="m-portlet">
        <div class="m-portlet__body">
            <div class="row">
              <div class="col-md-6">
                <graph-orders-last-days />
              </div>  
              <div class="col-md-6">
                <orders-percentage-by-categories />
              </div>  
            </div>
        </div>
    </div>
  </div>
    
</template>

<script>
    import { mapActions, mapState} from 'vuex';
    import graphOrdersLastDays from '../../../components/graphics/ordersLast7Days'
    import ordersPercentageByCategories from '../../../components/graphics/percentageOrdersByCategories'
    export default {
        components: {
          graphOrdersLastDays,
          ordersPercentageByCategories
        },
        data: () => ({  }),
        methods:{
          ...mapActions('statistics',['GET_DASHBOARD_NUMBERS'])
        },

        computed:{
             ...mapState('statistics',['status','message','error','idBusiness','numbersDashboard']),
        },

        created(){
            this.GET_DASHBOARD_NUMBERS()
        }
        
    }
</script>

<style  scoped>
  .numberDashboard{
    float: right;
    margin-right: 1rem;
    margin-top: -2.5rem;
    margin-bottom: 3rem;
    font-size: 1.75rem;
    font-weight: 600;
  }

  .pp{
    margin-left: 1.8rem;
    margin-top: 3.21rem;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    color: #575962;



    float: right;
    margin-right: 1.8rem;
    margin-top: -1.43rem;
    font-size: 1.75rem;
    font-weight: 600;
  }
  
</style>