<template>
  <div id="app">
    <router-view/>
  </div>
</template>


<script>
  import { mapActions } from 'vuex';
  export default {
      created() {
        const channel = this.$pusher.subscribe('Orders')

        channel.bind('newOrder', ({ order }) => {
            if (localStorage.getItem('idBusiness') == order.idBusiness) {
              this.REAL_TIME_ORDERS(order)
              $("#table_list_orders").DataTable().destroy()
              this.LIST_ORDERS().then(res=>{
                         
                         $("#table_list_orders").DataTable({
                            //retrieve: true,
                            ordering: false,
                            // order: [[ 5, 'desc' ]],
                            language: {
                                    search:"Busqueda",
                                    lengthMenu: "Mostrar _MENU_ Registros",
                                    info: "Mostrando _START_ de _TOTAL_ Registros",
                                    paginate: {
                                        
                                        previous:   "Anterior",
                                        next:       "Siguiente",
                                        
                                    },
                                    
                                }
                        }) 
                        this.loadingTable = false
                    })
            }
        })
      },
      methods: {
        ...mapActions('order',['REAL_TIME_ORDERS', 'LIST_ORDERS']),

      }

  }
 
</script>


<style scoped>
#app {
  height: 100%;

}

.app {
  height: 100%;

}

</style>


